%tr
  %th{colspan: 5}
    = params[:view] == 'outbox' ? 'Outbox' : 'Inbox'
    = link_to messages_path params: {view: 'outbox'} do
      .character-view-select Outbox &raquo;
    = link_to new_message_path do
      .character-new-select + Write Message
