%tr
  %th.table-title{colspan: 5}
    Inbox
    = link_to messages_path(params: { view: 'outbox' }), class: 'view-button-link' do
      .view-button Outbox &raquo;
    = link_to new_message_path do
      .link-box.action-new + Write Message
