- content_for :breadcrumbs do
  = link_to "Indexes", indexes_path
  &raquo;
  %b New


= form_for @index do |f|
  %table.form-table
    %thead
      %tr
        %th.centered{colspan: 2} Create Index
    = render 'editor', f: f
