%table{:style=>"width:100%;margin:0px auto;border-spacing: 0px;font-size:14px;"}
  %tr
    %th{:colspan=>2,:style=>"background-color:#8B8687;color:#eee;padding:15px;font-size:18px;font-weight:normal;"} 
      Title of the thing here
      .float-right{:style=>"float:right"} Page: 1, 2, 3 ... 7
  %tr
    %td{:colspan=>2,:style=>"background-color:#e5dfd1;height:2px;"}
  %tr
    %td{:style=>"background-color:#B0BBA9;width:100px;padding: 15px; vertical-align: middle; text-align: center;"}
      = image_tag 'http://v.dreamwidth.org/8063783/2291446'
    %td{:rowspan=>4,:style=>"vertical-align:top;background-color:#E3E3E3;padding:20px;"} Tiny words! Such tiny words, goodness, look at them.
  %tr
    %td{:style=>"background-color:#8B8687;height:10px;"}
  %tr
    %td{:style=>"background-color:#B9B6AD;height:75px;"}
  %tr
    %td{:style=>"background-color:#8B8687;height:2px;"}
  %tr
    %td{:colspan=>2,:style=>"background-color:#e5dfd1;height:2px;"}
  %tr
    %td{:style=>"background-color:#B0BBA9;width:100px;padding: 15px; vertical-align: middle; text-align: center;"}
      = image_tag 'http://v.dreamwidth.org/7969534/2236063'
    %td{:rowspan=>4,:style=>"vertical-align:top;background-color:#D8D8D8;padding:20px;"} Tiny words! Such tiny words, goodness, look at them.
  %tr
    %td{:style=>"background-color:#8B8687;height:10px;"}
  %tr
    %td{:style=>"background-color:#B9B6AD;height:75px;"}
  %tr
    %td{:style=>"background-color:#8B8687;height:2px;"}
  %tr
    %td{:colspan=>2,:style=>"background-color:#e5dfd1;height:2px;"}
  %tr
    %th{:colspan=>2,:style=>"background-color:#8B8687;color:#eee;padding:15px;font-size:18px;font-weight:normal;"} 
      .float-right{:style=>"float:right"} Page: 1, 2, 3 ... 7

