%table
  %tr
    %th{ :colspan => 2 }
      Title of the thing here
      .float-right Page: 1, 2, 3 ... 7
  %tr
    %td.bg.spacer{ :colspan => 2 }
  - ['http://v.dreamwidth.org/8063783/2291446', 'http://v.dreamwidth.org/6227310/2024455', 'http://v.dreamwidth.org/5691284/1965181'].each do |img|
    %tr
      %td.green.icon-holder
        = image_tag img
      %td.post{ :rowspan=>4, :class=>cycle('even', 'odd') } Tiny words! Such tiny words, goodness, look at them.
    %tr
      %td.dark.label
    %tr
      %td.beige.height-75
    %tr
      %td.dark.spacer
    %tr
      %td.bg.spacer{ :colspan => 2 }
  %tr
    %th{ :colspan => 2 }
      .float-right Page: 1, 2, 3 ... 7
