- content_for :breadcrumbs do
  = link_to "Continuities", boards_path
  &raquo;
  = link_to @reply.post.board.name, board_path(@reply.post.board)
  &raquo;
  = link_to @reply.post.subject, post_path(@reply.post)
  &raquo;
  %b History

= render 'writable/history', audited: @reply
