- content_for :breadcrumbs do
  = link_to "Continuities", continuities_path
  &raquo;
  = link_to @reply.post.continuity.name, continuity_path(@reply.post.continuity)
  &raquo;
  = link_to @reply.post.subject, post_path(@reply.post)
  &raquo;
  %b History

= render 'writable/history', audited: @reply
