= form_for @password_reset, url: password_reset_path(id: @password_reset.auth_token), method: :put do |f|
  %table.form-table
    %tr
      %th.centered{colspan: 2} Change Password
    %tr
      %th.sub New
      %td.odd= password_field_tag :password, params[:password], placeholder: "New Password", class: 'text'
    %tr
      %th.sub Confirm
      %td.even= password_field_tag :password_confirmation, params[:password_confirmation], placeholder: "Confirm Password", class: 'text'
    %tr
      %th.centered.subber{colspan: 2}= submit_tag "Save", class: 'button'
