= form_for @password_reset, url: password_reset_path(id: @password_reset.auth_token), method: :put do
  %table.form-table.alternating
    %thead
      %tr
        %th.editor-title{colspan: 2} Change Password
    %tbody
      %tr
        %th.sub New
        %td= password_field_tag :password, params[:password], placeholder: "New Password", class: 'text'
      %tr
        %th.sub Confirm
        %td= password_field_tag :password_confirmation, params[:password_confirmation], placeholder: "Confirm Password", class: 'text'
    %tfoot
      %tr
        %th.form-table-ender{colspan: 2}= submit_tag "Save", class: 'button'
