--color
--require spec_helper
--format documentation
--format ParallelTests::RSpec::RuntimeLogger --out tmp/parallel_runtime_rspec.log
--format ParallelTests::RSpec::FailuresLogger --out tmp/failing_specs.log
--format html --out tmp/rspec-results.html
