%table.form-table
  %thead
    %tr
      %th.sub Contribute to the Constellation
  %tbody
    %tr
      %td.even= link_to 'Make a Patreon pledge', 'https://patreon.com/user?u=4240260'
    %tr
      %td.odd= link_to 'Donate via Paypal', 'http://paypal.me/aschloss'
    %tr
      %td.even= link_to 'Submit a pull request', 'https://github.com/Marri/glowfic'
    %tr
      %td.odd= link_to 'Write something!', new_post_path
