%div{style: 'width: 500px; margin: 0px auto; background-color: #8B8687; color:#eeeeee; padding: 0px; font-size: 18px;'}
  %div{style: 'padding: 15px; overflow: hidden;'}
    %span{style: 'line-height: 28px;'} Password Reset

%div{style: 'background-color: #D8D8D8; overflow: auto; width: 500px; margin: 0px auto;'}
  %div{style: 'padding: 10px; text-align: center;'}
    Your account's password has been reset.
    %br
    %br
    %div{style: 'display: inline-block; background-color: #8B8687; margin: 0px auto; font-size: 18px; padding: 4px 12px; border-radius: 5px; cursor: pointer;'}
      = link_to password_reset_url(id: @password_reset.auth_token, host: ENV['DOMAIN_NAME'], protocol: 'https'), style: 'color: #eeeeee; text-decoration: none' do
        Choose New Password &raquo;
    %br
    %br
    Or copy and paste this link into your browser:
    %br
    = link_to password_reset_url(id: @password_reset.auth_token, host: ENV['DOMAIN_NAME'], protocol: 'https'), password_reset_url(id: @password_reset.auth_token, host: ENV['DOMAIN_NAME'], protocol: 'https')
