%tr
  %th.sub Name
  %td.even= f.text_field :name, placeholder: "Template Name", class: 'text'
%tr
  %th.sub.vtop Description
  %td.odd= f.text_area :description
- if @selectable_characters.present?
  %tr
    %th.sub.vtop Characters
    %td.even
      = collection_check_boxes :template, :character_ids, @selectable_characters, :id, :name, selected: @character_ids
%tr
  %th.form-table-ender{colspan: 2}= submit_tag "Save", class: 'button'
