- content_for :breadcrumbs do
  = link_to "Characters", user_characters_path(current_user)
  &raquo;
  = link_to @template.name, template_path(@template)
  &raquo;
  %b Edit

= form_for @template, url: template_path(@template), method: :put do |f|
  %table.form-table
    %tr
      %th.centered{colspan: 2} Edit Template
    = render partial: 'editor', locals: {f: f}
