%h2 Your Templates
= link_to "Add Template", new_template_path
%br
%br
- @templates.each do |template|
  = render partial: 'single', locals: {title: link_to(template.name, template_path(template)), template: template}
  %br
