= form_for @template, :url => templates_path, :method => :post do |f|
  %table#signup.centered
    %tr
      %th.centered
        New Template
    %tr
      %td
        = f.text_field :name, :placeholder => "Template Name", :class => 'text'
    %tr
      %td.centered
        = submit_tag "Create", class: 'button'