- content_for :breadcrumbs do
  = link_to "Characters", user_characters_path(current_user)
  &raquo;
  %b New Template

= form_for @template, :url => templates_path, :method => :post do |f|
  %table.form-table
    %thead
      %tr
        %th.editor-title{colspan: 2} New Template
    = render 'editor', f: f
