- content_for :breadcrumbs do
  = link_to "You", user_path(current_user)
  &raquo;
  = link_to "Your Characters", user_characters_path(current_user)
  &raquo;
  %b New Template

= form_with model: @template, method: :post do |f|
  .form-table
    .editor-title New Template
    = render 'editor', f: f
