- content_for :breadcrumbs do
  = link_to "Indexes", indexes_path
  &raquo;
  = link_to @section.index.name, index_path(@section.index)
  &raquo;
  %b Edit

= form_for @section, method: :put do |f|
  %table.form-table
    %thead
      %tr
        %th.centered{colspan: 2} Edit Index
    = render 'editor', f: f
