- content_for :breadcrumbs do
  = link_to Index.model_name.human(count: 2), indexes_path
  &raquo;
  = link_to @section.index.name, @section.index
  &raquo;
  %b= @section.name

%table
  %tbody
    = render 'single', section: @section
