= form_for @board_section, url: board_sections_path, method: :post do |f|
  %table.form-table
    %tr
      %th.centered{colspan: 2}= "Create #{@board_section&.board&.name} Section"
    = render 'editor', f: f
