.content-header Notifications
%table
  %thead
    %tr
      %th.sub
      %th.sub{colspan: 4} Notification
      %th.sub Received
  %tbody
    = render partial: "notification", collection: @notifications
