@import 'variables';
@import 'colorize';

#content {
  background-color: $bg_color_page;
  color: $font_color_content;
}

.flash {
  a, a:visited { color: $font_color_flash_link; }
  a:hover { color: $font_color_flash_hover; }
  &.success { color: $font_color_flash_success; }
  &.breadcrumbs { color: $font_color_flash_breadcrumbs; }
}

.selector-popup-button { opacity: 0.7; } /* make the white less contrasty */

table { border-color: #555555; } // TODO: what does this style

#post_content, #reply_content, #user_profile {
  background-color: $bg_color_reply_content;
  color: $font_color_reply_content;
}

@import 'dark_themes_selectors';

/* TODO: do this for starrydark */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background-color: $bg_color_popup_button;
  border-color: $border_color_popup_button;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
  background-color: $bg_color_popup_button;
  border-color: $border_color_popup_button;
}

.ui-widget-content a { color: $font_color_popup_link; }

/* TODO: hover, click */
