@mixin dark-themes-selectors {
  /* Hovering help box on post editor */
  .ui-widget-header {
    background-color: $bg_color_popup_header;
    color: $font_color_popup_header;
    border-color: $border_color_popup_header;
  }

  .ui-widget-content {
    background-color: $bg_color_popup_content;
    color: $font_color_popup_content;
  }

  .ui-widget.ui-widget-content { border-color: $border_color_popup; }

  /* - placeholders */
  ::-webkit-input-placeholder { color: $font_color_input_placeholder; }

  :-moz-placeholder {
    color: $font_color_input_placeholder;
    opacity: 1;
  }

  ::-moz-placeholder {
    color: $font_color_input_placeholder;
    opacity: 1;
  }

  :-ms-input-placeholder { color: $font_color_input_placeholder; }
  ::-ms-input-placeholder { color: $font_color_input_placeholder; }
  ::placeholder { color: $font_color_input_placeholder; }

  /* - account options, post editor, search */
  #content .form-table, #icon-table, .search-form, .post-info-box {
    input:not([type='submit']), textarea, select {
      background-color: $bg_color_input;
      color: $font_color_input;
      border-color: $border_color_input;
    }

    button[disabled], input[disabled] {
      background-color: $bg_color_input_disabled;
    }
  }

  textarea#post_private_note {
    background-color: $bg_color_input;
    color: $font_color_input;
    border-color: $border_color_input;
  }

  /* - select2 */
  .select2-dropdown {
    background-color: $bg_color_input;
    color: $font_color_input;
    border-color: $border_color_input;
  }

  /* -- multiple / tag */
  .select2-container--default .select2-selection--multiple {
    background-color: $bg_color_input;
    color: $font_color_input;
    border-color: $border_color_input;
  }

  /* --- tag item */
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: $bg_color_select2_highlight;
    border-color: $border_color_input;
  }

  /* -- single */
  .select2-container--default .select2-selection--single {
    background-color: $bg_color_input;
    color: $font_color_input;
    border-color: $border_color_input;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered { color: $font_color_input; }

  /* --- selected */
  .select2-container--default .select2-results__option[aria-selected='true'] {
    background-color: $bg_color_select2_selected;
    color: inherit;
  }

  /* --- hovered */
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $bg_color_select2_highlight;
    color: inherit;
  }

  /* --- input */
  .select2-container--default .select2-search--dropdown .select2-search__field {
    background-color: $bg_color_select2_search;
    color: $font_color_input;
    border-color: $border_color_input;
  }

  /* --- disabled input */
  .select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: $bg_color_mce_panel;
    color: $font_color_input;
    border-color: $border_color_input;
  }

  .select2-search__field { color: $font_color_input; }

  /* HTML written editor */
  #post-editor input:not([type='submit']), #post-editor textarea, #message_form input:not([type='submit']), #message_form textarea {
    background-color: $bg_color_input;
    color: $font_color_input;
    border-color: $border_color_input;
  }

  /* RTF post editor – see tinymce.css for styling of the iframe itself */
  #content .tox-toolbar, #content .tox-statusbar {
    background-color: $bg_color_mce_panel;
    border-color: $border_color_input;
    .tox-toolbar__group { border-color: $border_color_input; }
  }

  #content .tox-statusbar__wordcount { color: $font_color_input; }

  #content .tox-statusbar__resize-handle svg { fill: $font_color_input; }

  #content .tox-split-button {
    &:focus, &:hover { background-color: $bg_color_input; }
  }

  #content .tox .tox-tbtn {
    box-sizing: content-box;
    background: transparent;

    svg {
      fill: $font_color_input;

      &:hover {
        background-color: $bg_color_input;
        border: 1px solid $font_color_input;
      }
    }

    &:active, &:hover, &:focus { background-color: $bg_color_input; }

    &.tox-tbtn--enabled {
      &, &:focus, &:hover { background-color: $bg_color_input; }
    }

    &.tox-tbtn--disabled {
      svg {
        fill: $font_color_input;
        opacity: 0.5;

        &:hover {
          border: 0;
          background-color: transparent;
        }
      }
      &:hover { background-color: transparent; }
    }
  }

  #content .tox .tox-tbtn--disabled, #content .tox .tox-tbtn--disabled:hover, #content .tox .tox-tbtn:disabled, #content .tox .tox-tbtn:disabled:hover {
    background: transparent;
  }

  #content .tox-tinymce { border-color: $border_color_input; }

  #footer {
    background-color: $bg_color_header_middle;
    color: $font_color_header_link;
    a { color: $font_color_header_link; }
    a:hover { color: $font_color_header_link_hover; }
  }
}
