@import 'variables';

/* Hovering help box on post editor */
.ui-widget-header {
  background-color: $bg_color_popup_header;
  color: $font_color_popup_header;
  border-color: $border_color_popup_header;
}

.ui-widget-content {
  background-color: $bg_color_popup_content;
  color: $font_color_popup_content;
}

.ui-widget.ui-widget-content { border-color: $border_color_popup; }

/* - placeholders */
::-webkit-input-placeholder { color: $font_color_input_placeholder; }

:-moz-placeholder {
  color: $font_color_input_placeholder;
  opacity: 1;
}

::-moz-placeholder {
  color: $font_color_input_placeholder;
  opacity: 1;
}

:-ms-input-placeholder { color: $font_color_input_placeholder; }
::-ms-input-placeholder { color: $font_color_input_placeholder; }
::placeholder { color: $font_color_input_placeholder; }

/* - account options, post editor, search */
#content .form-table, #icon-table, .search-form, .post-info-box {
  input:not([type='submit']), textarea, select {
    background-color: $bg_color_input;
    color: $font_color_input;
    border-color: $border_color_input;
  }
}

@import 'select2';

/* HTML written editor */
#post-editor input:not([type='submit']), #post-editor textarea, #message_form input:not([type='submit']), #message_form textarea {
  background-color: $bg_color_input;
  color: $font_color_input;
  border-color: $border_color_input;
}

/* RTF post editor – see tinymce.css for styling of the iframe itself */
/* border: */
#content .mce-panel { border-color: $border_color_input; }
#content .mce-edit-area { border-top-color: $border_color_input; }
#content .mce-statusbar { border-top-color: $border_color_input; }
/* header & buttons: */
/* - default */
#content .mce-panel, #content .mce-btn { background-color: $bg_color_mce_panel; }
#content .mce-ico { color: $font_color_input; }

/* footer: 'powered by' text */
#content .mce-branding-powered-by {
  background-color: $bg_color_mce_panel;
  border-color: $border_color_input;
}

#content .mce-label {
  color: rgba($font_color_input, $opacity_mce_label);
  text-shadow: none;
}

#footer {
  background-color: $bg_color_header_middle;
  color: $font_color_header_link;
  a { color: $font_color_header_link; }
  a:hover { color: $font_color_header_link_hover; }
}
