@mixin river-selectors {
  /* - main page */
  body { background-color: $bg_color_page; }

  /* - header */
  #header { background-color: $bg_color_header_bottom; }
  #logo { background-color: $bg_color_header_top; }
  #user-info, #nav-top { background-color: $bg_color_header_middle; }

  /* - links */
  a { color: $font_color_link; }
  a:visited { color: $font_color_link_visited; }

  /* - flashes */
  // these are the notifications that appear when you submit a form or get a message
  .flash.breadcrumbs { background-color: $bg_color_flash_breadcrumbs; }
  .flash.success { background-color: $bg_color_flash_success; }

  /* - content headers */
  .sub { background-color: $bg_color_sub; }
  .subber { background-color: $bg_color_subber; }
  .form-table-ender { background-color: $bg_color_ender; }

  /* - content */
  #content .odd, #content .even, .post-post, .post-reply, .profile, #post-editor {
    // stylelint-disable declaration-no-important
    background-color: $bg_color_even !important;
    border-top: solid 1px $bg_color_content_border;
    blockquote { background-color: calculate-transparent-color($bg_color_even, $bg_color_odd, 0.2) !important; }
    // stylelint-enable declaration-no-important
  }

  .post-edit-box img {
    width: 1em;
    height: 1em;
  }

  .post-footer { color: $font_color_reply_footer; }
  .post-navheader { background-color: $bg_color_navheader; }
  .post-expander { background-color: $bg_color_expander; }

  .post-icon { background-color: $bg_color_post_icon; }
  #current-icon-dropdown { background-color: $bg_color_post_icon; }
  #reply-icon-selector { background-color: $bg_color_icon_selector; }

  .post-character { background-color: $bg_color_post_character; }
  .post-character a, .post-character a:visited { color: $font_color_post_info; }
  .post-screenname { background-color: $bg_color_post_screenname; }
  .post-author { background-color: $bg_color_post_author; }

  .pagination .current { background-color: $bg_color_paginate_current_page; }
  .pagination a:visited { color: $font_color_paginate_link_visited; }

  /* - icons */
  .replace-icon, .icons-box { background-color: $bg_color_icon; }
  .icon-credit { background-color: $bg_color_icon_credit; }

  .gallery-icon-editor {
    border-color: $border_color_icon_editor;
    background-color: $bg_color_icon_editor;
  }
  .character-no-icon { background-color: $bg_color_even; color: $font_color_page; }

  /* - tag items */
  .tag-item {
    color: $font_color_tag_item;
    background-color: $bg_color_tag_item;
  }

  tr.gallery-tags .tag-item {
    color: $font_color_tag_item_gallery;
    background-color: $bg_color_tag_item;
  }

  /* - link-boxes */
  .link-box.action-new { background-color: $bg_color_linkbox_new; }
  .link-box.action-edit { background-color: $bg_color_linkbox_edit; }
  .link-box.action-favorite { background-color: $bg_color_linkbox_favorite; }
  .link-box.action-delete { background-color: $bg_color_linkbox_delete; }
  .link-box.action-dismiss { background-color: $bg_color_linkbox_dismiss; }

  #footer {
    background-color: $bg_color_header_middle;
    color: $font_color_header_link;
    a { color: $font_color_header_link; }
    a:hover { color: $font_color_header_link_hover; }
  }

  span.badge {
    background-color: $bg_color_badge;
    color: $font_color_badge;
  }
}
