@import 'variables';
@import 'colorize';

/* - content */
#content .odd, #content .even, .post-post, .post-reply, .profile, #post-editor {
  // stylelint-disable declaration-no-important
  background-color: $bg_color_even !important;
  border-top: solid 1px $bg_color_content_border;
  blockquote { background-color: calculate-transparent-color($bg_color_even, $bg_color_odd, 0.2) !important; }
  // stylelint-enable declaration-no-important
}

.post-edit-box img {
  width: 1em;
  height: 1em;
}

.post-footer { color: $font_color_reply_footer; }

.post-character a, .post-character a:visited { color: $font_color_post_info; }
