@import 'variables';
@import 'colorize';

/* - header */
#header {
  background-color: transparent;
  background-image: url(image-path('layouts/starry.jpg')); // stylelint-disable-line function-url-quotes
  background-position: right top;
}

#logo {
  background-color: transparent !important; // stylelint-disable-line declaration-no-important
}

#user-info, #nav-top {
  background-color: $bg_color_header_middle;
  background-color: rgba($bg_color_header_middle, 0.9);
}

#nav-bottom a { text-shadow: 0 0 3px $shadow_color_nav, 0 0 3px $shadow_color_nav; }

/* - flashes */
// these are the notifications that appear when you submit a form or get a message
.flash.breadcrumbs {
  &, a, a:visited { color: $font_color_breadcrumbs_link_visited; }
  b { color: $font_color_breadcrumbs_bold; }
}

/* - misc */
.single-description { color: $font_color_page; }

/* - content headers */
.table-title, .content-header, .info-box-header, .editor-title, .search-params-header, .search-results-header, .gallery-table-title, .sub, .form-table-ender {
  a { color: $font_color_head_link; }
  a:visited { color: $font_color_head_link_visited; }
}

.subber {
  &, a, a:visited { color: $font_color_subber_link_visited; }
  b { color: $font_color_subber_bold; }
}

/* - replies */
#post-menu-box {
  border-top: 1px solid $border_color_post_menu;
  border-top: 1px solid rgba($border_color_post_menu, 0.5);
  a { color: inherit; }

  div {
    border-bottom: 1px solid $border_color_post_menu;
    border-bottom: 1px solid rgba($border_color_post_menu, 0.5);
  }
}

.selector-popup { color: $font_color_selectionpopup; }
#reply-icon-selector { color: $font_color_reply_icon_selector; }

.post-character, .post-author {
  font-weight: $font_weight_post_info;
  a, a:visited { color: $font_color_post_info; }
}

.post-screenname {
  font-weight: $font_weight_post_info;
  a, a:visited { color: $font_color_post_screenname; }
}

/* - link-boxes */
.subber .link-box { background-color: $bg_color_linkbox_subber; }
