@import 'variables';

/* - header */
#header {
  background-color: transparent;
  background-image: url(image-path('layouts/starry.jpg'));
  background-position: right top;
  a:hover { color: $font_color_header_link_hover; }
}

#logo { background-color: transparent !important; }

#user-info, #nav-top {
  background-color: $bg_color_header_middle;
  background-color: rgba($bg_color_header_middle, 0.9);
}

#nav-bottom a { text-shadow: 0 0 3px $shadow_color_nav, 0 0 3px $shadow_color_nav; }

/* - main page */
body { background-color: $bg_color_page; }

.search-box {
  background-color: $bg_color_search_box;
  color: $font_color_search_box;
}

.spacer-alt { background-color: $bg_color_spacer_alt; }

/* - links */
a { color: $font_color_link; }
a:visited { color: $font_color_link_visited; }

/* - flashes */
// these are the notifications that appear when you submit a form or get a message
.flash.breadcrumbs {
  background-color: $bg_color_flash_breadcrumbs;
  &, a, a:visited { color: $font_color_breadcrumbs_link_visited; }
  b { color: $font_color_breadcrumbs_bold; }
}
.flash.success { background-color: $bg_color_flash_success;  }
.flash.error { background-color: $bg_color_flash_error; }

/* - misc */
.single-description {
  background-color: $bg_color_descriptions;
  color: $font_color_page;
  a { color: $font_color_descriptions_link; }
  a:visited { color: $font_color_descriptions_link_visited; }
}

/* - content headers */
.table-title, .content-header, .info-box-header, .editor-title, .search-params-header, .search-results-header {
  background-color: $bg_color_head;
  a { color: $font_color_head_link; }
  a:visited { color: $font_color_head_link_visited; }
}

.sub {
  color: $font_color_sub;
  background-color: $bg_color_sub;
}

.form-table-ender {
  background-color: $bg_color_ender;
  color: $font_color_ender;
}

.subber {
  background-color: $bg_color_subber;
  color: $font_color_page;
  &, a, a:visited { color: $font_color_subber_link_visited; }
  b { color: $font_color_subber_bold; }
}

/* - content */
.even, .post-post, .post-reply:nth-child(even), #post-editor {
  background-color: $bg_color_even;
  blockquote { background-color: calculate-transparent-color($bg_color_even, $bg_color_odd, $opacity_blockquote); }
}

.odd, .post-reply:nth-child(odd), .post-post + #post-editor, .post-post + a + #post-editor {
  background-color: $bg_color_odd;
  blockquote { background-color: calculate-transparent-color($bg_color_odd, $bg_color_even, $opacity_blockquote); }
}

/* - replies.scss */
.post-subheader {
  background-color: $bg_color_post_description;
  color: $font_color_post_description;
}

.post-navheader { background-color: $bg_color_navheader; }

#post-menu-box {
  background-color: $bg_color_post_menu;
  border-top: 1px solid $border_color_post_menu;
  border-top: 1px solid rgba($border_color_post_menu, 0.5);
  a { color: inherit; }
  a:hover div { background-color: $bg_color_menu_link_hover; }

  div {
    border-bottom: 1px solid $border_color_post_menu;
    border-bottom: 1px solid rgba($border_color_post_menu, 0.5);
  }
}

.selector-popup {
  background-color: $bg_color_selectionpopup;
  color: $font_color_page;
}

.post-expander { background-color: $bg_color_expander; }

.post-icon { background-color: $bg_color_post_icon; }
#current-icon-dropdown { background-color: $bg_color_post_icon; }

#reply-icon-selector {
  background-color: $bg_color_icon_selector;
  color: $font_color_page;
}

.post-character {
  font-weight: $font_weight_post_info;
  background-color: $bg_color_post_character;
}

.post-character, .post-character a, .post-character a:visited, { color: $font_color_post_info; }

.post-screenname {
  font-weight: $font_weight_post_info;
  background-color: $bg_color_post_screenname;
}

.post-screenname, .post-screenname a, .post-screenname a:visited { color: $font_color_post_screenname; }

.post-author {
  font-weight: $font_weight_post_info;
  background-color: $bg_color_post_author;
}

.post-author, .post-author a, .post-author a:visited { color: $font_color_post_info; }

.pagination .current { background-color: $bg_color_paginate_current_page; }
.pagination a { color: $font_color_paginate_link; }
.pagination a:visited { color: $font_color_paginate_link_visited; }
.pagination .disabled { color: $font_color_paginate_link_disabled; }

/* - icons */
.replace-icon, .icons-box { background-color: $bg_color_icon; }
.icon-credit { background-color: $bg_color_icon_credit; }

.gallery-icon-editor {
  border-color: $border_color_icon_editor;
  background-color: $bg_color_icon_editor;
}

/* - link-boxes */
.link-box.action-new { background-color: $bg_color_linkbox_new; }
.link-box.action-edit { background-color: $bg_color_linkbox_edit; }
.link-box.action-favorite { background-color: $bg_color_linkbox_favorite; }
.link-box.action-delete { background-color: $bg_color_linkbox_delete; }
.link-box.action-dismiss { background-color: $bg_color_linkbox_dismiss; }

.subber .link-box { background-color: $bg_color_linkbox_subber; }

/* - other buttons */
.view-button, .post-navheader .view-button { background-color: $bg_color_viewbutton; }
.view-button.selected { background-color: $bg_color_viewbutton_selected; }

span.badge {
  background-color: $bg_color_badge;
  color: $font_color_badge;
}
