@import 'variables';

// main page
$bg_color_page: #212121; // overall page
$font_color_page: #A2A2A2;
$font_color_content: #A2A2A2; // body

// header
$bg_color_header_top: #3B4841; // top header strip for logo
$bg_color_header_bottom: #56554F; // bottom header strip with navigation
$font_color_header_link: #CCCCCC;  // header links

// links
$font_color_link: #66997D; // link
$font_color_link_visited: #66997D; // TODO: why the heck are these set the same
$font_color_link_hover: #B3B3B3; // link (hovered)

// flashes
// these are the notifications that appear when you submit a form or get a message
$bg_color_flash_success: #555E55; // success
$font_color_flash_success: #BBBBBB;
$bg_color_flash_error: #532D38; // error
$bg_color_flash_inbox: #4B4B71; // new message
$font_color_flash_inbox: #C5C5C5;
$bg_color_flash_breadcrumbs: #464646; // breadcrumbs ("Continuities » Continuity » Section » Thread")
$font_color_flash_breadcrumbs: #DDDDDD;
$font_color_flash_link: #DDDDDD;
$font_color_flash_hover: #BBBBBB;

$bg_color_spacer_alt: #333333;
$bg_color_search_box: #333333;
$font_color_search_box: #A2A2A2;

// misc
$bg_color_descriptions: #565656; // description subheadings on templates page ("single-description"), *not* posts

// content headers
$bg_color_head: #424242; // primary content header
$bg_color_sub: #383838; // secondary content header
$bg_color_subber: #464646; // tertiary content header
$font_color_head: #C2C2C2;
$font_color_sub: #C9C9C9;
$font_color_subber: #DDDDDD;

// content
$bg_color_even: #3E3E3E;
$bg_color_odd: #474747;

$bg_color_post_description: #5D5D5D;
$font_color_post_description: #A2A2A2;
$bg_color_navheader: #5F5D57;

// TODO: darken post-menu-box to fit with the rest of this theme

$bg_color_selectionpopup: #565656; // selection popups like character/alias on posts#editor
$bg_color_expander: #6F7769; // expander on posts

$bg_color_post_icon: #444D3F;
$bg_color_icon_selector: #444D3F;
$font_color_icon_selector: #111111;

$bg_color_post_character: #595959;
$bg_color_post_screenname: #515151;
$bg_color_post_author: #4D4C4C;
//$bg_color_post_author_narrow: $colors_brown;
// these are flipped from not-narrow mode to make the quick-switcher blend in
// TODO: Should these flip on dark too?
$font_color_post_info: #A2A2A2;

// TODO: Check pagination displays fine in this theme

$font_color_post_menu: #A2A2A2;

// icons
$bg_color_icon: #444D3F;
$bg_color_icon_credit: #444D3F;
$border_color_icon_editor: #464646;

// tag items
$bg_color_tag_item: #85837C;
$font_color_tag_item: #DDDDDD;

// link-boxes
$font_color_linkbox_new: #DDDDDD;
$font_color_linkbox_edit: #DDDDDD;
$font_color_linkbox_favorite: #DDDDDD;
$font_color_linkbox_delete: #DDDDDD;
$font_color_linkbox_dismiss: #DDDDDD;

// other buttons
$bg_color_viewbutton: #85837C;
$bg_color_viewbutton_selected: #6A6A6A;
$font_color_viewbutton: #DDDDDD;

$bg_color_reply_content: #717171;
$font_color_reply_content: #CCCCCC;

// Hovering help box on post editor
$bg_color_popup_header: #2B2B2B;
$font_color_popup_header: #C2C2C2;
$border_color_popup_header: #262626;
$bg_color_popup_content: #333333;
$font_color_popup_content: #A2A2A2;
$border_color_popup: #444444;
$bg_color_popup_button: #383838;
$border_color_popup_button: #484848;
$font_color_popup_link: #66997D;

// Darken input boxes
$font_color_input: #BBB; // TODO: standardize font color
$bg_color_input: #4D4D4D; // for generic input boxes all over the place
$border_color_input: #666666;
$font_color_input_placeholder: #888888;
$bg_color_mce_panel: #404040; // MCE header & footer background
$bg_color_select2_highlight: #616161;
$bg_color_select2_selected: #454545;
$bg_color_select2_search: $bg_color_select2_highlight;
$opacity_mce_label: 1;

@import '_dark_selectors.scss'
