html, body { background-color: #212121; }
body { color: #A2A2A2; }
#content { background-color: #212121; }
#content .beige { background-color: #565656; }
#content .dark { background-color: #333333; }
#content table { border-color: #555; }
#content .sub {
  background-color: #383838;
  color: #C9C9C9;
}
#content th {
  background-color: #424242;
  color: #c2c2c2;
}
a, #content a, #content a:visited { color: #66997D; }
#content a:hover, a:hover { color: #B3B3B3; }
#header #nav-bottom, #header { background-color: #56554F; }
#header #logo { background-color: #3B4841; }
#header a, #header li a { color: #CCCCCC; }
#content .even, .post-post, .post-reply:nth-child(even), #post-editor, .post-reply:nth-child(odd) blockquote {
  background-color: #3E3E3E;
}
#content .odd, .post-reply:nth-child(odd), .post-post + #post-editor, .post-post + a + #post-editor, .post-post blockquote, .post-reply:nth-child(even) blockquote {
  background-color: #474747;
}
.green { background-color: #444D3F; }
#content th.subber, #content .subber, .subber { background-color: #464646; color: #DDDDDD; }
.post-subheader { background-color: #5D5D5D; }
#post_content, #reply_content {
  background-color: #717171;
  color: #ccc;
}
.success {
  background-color: #5B655B;
  color: #bbb;
}
.post-header { background-color: #4A4848; }
.post-navheader { background-color: #5F5D57; }
.character-view-select { background-color: #666460; }
.post-icon, #current-icon-dropdown { background-color: #444D3F; }
#current-icon-dropdown { color: #111111; }
.post-expander { background-color: #6F7769; }
.post-character { background-color: #595959; }
.post-screenname { background-color: #515151; }
.post-author { background-color: #4D4C4C; }
.flash.success { background-color: #555E55; }
.flash.inbox {
  background-color: #4B4B71;
  color: #C5C5C5;
}
.flash.error { background-color: #532D38; }
.view-button, .tag-item {
  background-color: #85837C;
  color: #DDDDDD;
}
.view-button.selected { background-color: #6A6A6A; }
.link-box { color: #DDDDDD; }
