body { background-color: #E0E0E0; }
#header #logo { background-color: #757575; }
#header #user-info, #header #nav-top { background-color: #4A4A4A; }
.flash.success, .flash.inbox { background-color: #ECECEC; }
a { color: #6F6F6F; }
a:visited { color: #484848; }
.pagination .current { background: #616161; }
.pagination a:visited { color: #3A3A3A; }
.post-expander { background-color: #A0A0A0; }
.post-icon, #current-icon-dropdown { background-color: #BDBDBD; }
.post-navheader { background-color: #BDBDBD; }
.green { background-color: #BDBDBD; }
.link-box.green { background-color: #5A5A5A; }
.link-box.blue { background-color: #545A79; }
.link-box.red { background-color: #503636; }
#content .subber, .subber { background-color: #ADADAD; }
.post-character { background-color: #929292; }
.post-screenname { background-color: #A5A5A5; }
.post-author { background-color: #BBBBBB; }
#content .sub { background-color: #BDBDBD; }
