@import 'variables';
$theme: 'starrydark';
@import 'starry_default_variables';

/* Hovering help box on post editor */
$bg_color_popup_header: #0D0B1E;
$font_color_popup_header: #EEEEEE;
$border_color_popup_header: #28225D;
$bg_color_popup_content: #211E2F;
$font_color_popup_content: #DADADA;
$border_color_popup: #444444;

/* Darken input boxes */
$font_color_input: #DADADA;
$bg_color_input: #4D4B5B; // regular <input> /* for generic input boxes all over the place */
$border_color_input: #625F73; /* TODO: check with Aestrix at a better time */
$font_color_input_placeholder: #8884A0;
$bg_color_mce_panel: #3B394A; /* MCE header & footer background */
/* TODO: check with Aestrix at a better time */
$bg_color_select2_highlight: #5B586B;
$bg_color_select2_selected: #3F3D4C;
$bg_color_select2_search: $bg_color_select2_highlight;
$opacity_mce_label: 0.8;

@import '_dark_themes_selectors'
