@import 'starry_default_variables';

// main page
$bg_color_page: #6C697C; // overall page

$bg_color_spacer_alt: $colors_bunting;
$bg_color_search_box: $colors_bunting;

// flashes
$bg_color_flash_error: $colors_manatee_lighter; // error
$bg_color_flash_success: $colors_manatee_lighter; // success
$bg_color_flash_inbox: $colors_manatee_lighter; // new message
$bg_color_flash_breadcrumbs: $colors_bunting; // breadcrumbs ("Continuities » Continuity » Section » Thread")

// content headers
$bg_color_head: $colors_ebony; // primary content header
$bg_color_sub: $colors_bunting; // secondary content header
$bg_color_ender: $colors_ebony; // form table footer with submit
$font_color_ender: $colors_lightgrey;

// posts
$bg_color_navheader: $colors_bunting;

$font_color_post_menu: $colors_black;

$bg_color_expander: $colors_manatee_lighter; // expander on posts

$bg_color_post_icon: $colors_ebony;

$bg_color_post_character: $colors_gunpowder;
$bg_color_post_screenname: $colors_gunpowder;
$bg_color_post_author: $colors_ebony;

// tag items
$bg_color_tag_item: #2C2C5D;

// link-boxes
$bg_color_linkbox_subber: #66608B;

@import 'starry_default_selectors';

// posts
#post-menu-box {
  color: $font_color_post_menu;
}

// icons
#character-icon-selector, .time-loaded { color: $font_color_page; }

// tag items
tr.gallery-tags .tag-item { background-color: $bg_color_tag_item; color: $font_color_tag_item_gallery; }
.tag-item { color: $font_color_tag_item; }

// ??
#character-selector { font-weight: normal; }

#footer {
  background-color: $bg_color_header_middle;
  color: $font_color_header_link;
  a { color: $font_color_header_link; }
  a:hover { color: $font_color_header_link_hover; }
}
