@import 'variables';

/* - header */
$bg_color_header_top: transparent; // top header strip for logo
$bg_color_header_middle: #41416E; // middle header strip with user items
$bg_color_header_bottom: #6F658D; // bottom header strip with navigation

#header {
  background-color: $bg_color_header_bottom;
  background-image: url(image-path("layouts/starry.jpg"));
  background-position: right top;
}
#logo { background-color: $bg_color_header_top !important; }
#user-info, #nav-top { background-color: $bg_color_header_middle; background-color: rgba($bg_color_header_middle, 0.9); }

/* - links */
$font_color_link: #666284; // link
$font_color_link_visited: #484357;
$font_color_link_visited_alt: #C6C6E5;

a { color: $font_color_link; }
a:visited { color: $font_color_link_visited; }

/* - flashes */
// these are the notifications that appear when you submit a form or get a message
// TODO: See if we can differentiate these
$bg_color_flash_error: #CDC7E7; // error
$bg_color_flash_success: #CDC7E7; // success
$bg_color_flash_inbox: #CDC7E7; // new message
$bg_color_flash_breadcrumbs: #8689B7; // breadcrumbs ("Continuities » Continuity » Section » Thread")
$font_color_breadcrumbs_bold: #F3F3F3;

.flash.breadcrumbs {
  background-color: $bg_color_flash_breadcrumbs;
  &, a, a:visited { color: $font_color_link_visited_alt; }
  b { color: $font_color_breadcrumbs_bold; } // TODO: Investigate why this is differentiated
}
.flash.success { background-color: $bg_color_flash_success; }
.flash.error { background-color: $bg_color_flash_error; }
.flash.inbox { background-color: $bg_color_flash_inbox; }

/* - main page */
$bg_color_page: #B0AFB7; // overall page
$font_color_page: #DADADA;

body { background-color: $bg_color_page; /*color: $font_color_page;*/ } //TODO: Investigate whether explictly defining the font color here breaks anything

$bg_color_spacer_alt: #645F8A;
$font_color_search_box: #FEFEFE;
$bg_color_search_box: #645F8A;

.search-box { background-color: $bg_color_search_box; color: $font_color_search_box; }
.spacer-alt { background-color: $bg_color_spacer_alt; }

/* - misc */
$bg_color_descriptions: #6F658D; // description subheadings on templates page ("single-description"), *not* posts
$font_color_descriptions: #DADADA;
$font_color_descriptions_link: #F3F3F3;
.single-description {
  background-color: $bg_color_descriptions;
  color: $font_color_descriptions;
  a { color: $font_color_descriptions_link; }
  a:visited { color: $font_color_link_visited_alt; }
}

/* - content headers */
$bg_color_head: #42416E; // primary content header
$font_color_head_link: #F3F3F3;
$bg_color_sub: #8287A2; // secondary content header
$bg_color_subber: #6F658D; // tertiary content header
$bg_color_ender:  #6F658D; // form table footer with submit
$font_color_ender: #DADADA;
$font_color_sub: #F3F3F3;
$font_color_subber: #DADADA;
$font_color_subber_bold: #F3F3F3;

th, .content-header {
  background-color: $bg_color_head;
  a { color: $font_color_head_link; }
  a:visited { color: $font_color_link_visited_alt; }
}
.sub { color: $font_color_sub; background-color: $bg_color_sub; }
.form-table-ender { background-color: $bg_color_ender; color: $font_color_ender; }
.subber {
  background-color: $bg_color_subber;
  color: $font_color_subber;
  &, a, a:visited { color: $font_color_link_visited_alt; }
  b { color: $font_color_subber_bold; }
}

/* - content */
$bg_color_even: #E3E3E3;
$bg_color_odd: #D8D8D8;
$opacity_blockquote: 0.2;

.even, .post-post, .post-reply:nth-child(even), #post-editor {
  background-color: $bg_color_even;

  blockquote {
    background-color: calculate-transparent-color($bg_color_even, $bg_color_odd, $opacity_blockquote);
  }
}
.odd, .post-reply:nth-child(odd), .post-post + #post-editor, .post-post + a + #post-editor {
  background-color: $bg_color_odd;

  blockquote {
    background-color: calculate-transparent-color($bg_color_odd, $bg_color_even, $opacity_blockquote);
  }
}

/* - replies.scss */
$bg_color_post_description: #9692A8;
$font_color_post_description: #F3F3F3;
$bg_color_navheader: #8287A2;

.post-subheader { background-color: $bg_color_post_description; color: $font_color_post_description; }
.post-navheader { background-color: $bg_color_navheader; }

$bg_color_post_menu: #BCBCBC;
$border_color_post_menu: #808080;
$bg_color_menu_link_hover: #D3D3D3;

#post-menu-box {
  background-color: $bg_color_post_menu;
  border-top: 1px solid $border_color_post_menu;
  border-top: 1px solid rgba($border_color_post_menu, 0.5);

  a { color: inherit; }
  a:hover div { background-color: $bg_color_menu_link_hover; }
  div {
    border-bottom: 1px solid $border_color_post_menu;
    border-bottom: 1px solid rgba($border_color_post_menu, 0.5);
  }
}

$font_color_selectionpopup: #DADADA;
$bg_color_selectionpopup: #6F658D; // selection popups like character/alias on posts#editor
$bg_color_expander: #D8D8D8; // expander on posts

.selector-popup { background-color: $bg_color_selectionpopup; color: $font_color_selectionpopup; }
.post-expander { background-color: $bg_color_expander; }

$bg_color_post_icon: #9498AC;
$bg_color_icon_selector: #9692A8;
$font_color_icon_selector: #DADADA;

.post-icon { background-color: $bg_color_post_icon; }
#current-icon-dropdown { background-color: $bg_color_post_icon; }
#reply-icon-selector { background-color: $bg_color_icon_selector; color: $font_color_icon_selector; }

$bg_color_post_character: #645F8A;
$bg_color_post_screenname: #645F8A;
$bg_color_post_author: #42416E;
//$bg_color_post_character_narrow: $colors_lightbrown;
//$bg_color_post_author_narrow: $colors_brown; // these are flipped from not-narrow mode to make the quick-switcher blend in
// TODO: Should these flip on starries too?
$font_color_post_info: #F3F3F3;
$font_color_post_screenname: #C6C6E5;

.post-character { font-weight: normal; background-color: $bg_color_post_character; }
.post-character, .post-character a, .post-character a:visited, { color: $font_color_post_info; }
.post-screenname { font-weight: normal; background-color: $bg_color_post_screenname; }
.post-screenname, .post-screenname a, .post-screenname a:visited { color: $font_color_post_screenname; font-style: italic; } // TODO: clean this up when messages are fixed to not use it
.post-author { font-weight: normal; background-color: $bg_color_post_author; } // Note for merging: font weight different from the other starries here (also screennames italicized)
.post-author, .post-author a, .post-author a:visited { color: $font_color_post_info; }

$font_color_paginate_link: #F3F3F3;
$bg_color_paginate_link_hover: #9498AC;
$font_color_page_visited: $font_color_link_visited_alt;
$bg_color_page_current: #9692A8;
$font_color_page_disabled: #58546B;

.pagination .current { background-color: $bg_color_page_current; }
.pagination a { color: $font_color_paginate_link; }
.pagination a:visited { color: $font_color_page_visited; }
.pagination .disabled { color: $font_color_page_disabled; }
.pagination a:hover { background-color: $bg_color_paginate_link_hover; }

/* - icons */
//$border_color_icon_selected: #B9BBEB; // selected icon border
$bg_color_icon: #D8D8D8;
$bg_color_icon_credit: #D8D8D8;

/*.selected-icon { border-color: #409CFF; }*/ // TODO: Why is this commented out?
.replace-icon, .icons-box { background-color: $bg_color_icon; }
.icon-credit { background-color: $bg_color_icon_credit; }

/* - tag items */
$bg_color_tag_item: #968BB4;
$font_color_tag_item: #444158;
$font_color_tag_item_gallery: #F7F7F7;

tr.gallery-tags .tag-item { background-color: $bg_color_tag_item; color: $font_color_tag_item_gallery; }
.tag-item { color: $font_color_tag_item; }

/* - link-boxes */
// TODO: See if we can differentiate link box colors on starries
$bg_color_linkbox_new: #6565AE;
$bg_color_linkbox_edit: #6565AE;
$bg_color_linkbox_favorite: #6565AE;
$bg_color_linkbox_delete: #6565AE;
$bg_color_linkbox_dismiss: #6565AE;
$bg_color_linkbox_subber: #8689B7;

.link-box.action-new { background-color: $bg_color_linkbox_new; }
.link-box.action-edit { background-color: $bg_color_linkbox_edit; }
.link-box.action-favorite { background-color: $bg_color_linkbox_favorite; }
.link-box.action-delete { background-color: $bg_color_linkbox_delete; }
.link-box.action-dismiss { background-color: $bg_color_linkbox_dismiss; }

.subber .link-box { background-color: $bg_color_linkbox_subber; }

#character-selector { font-weight: normal; } //TODO: this doesn't seem to exist in starrydark

/* - other buttons */
$bg_color_viewbutton: #6565AE;
$bg_color_viewbutton_selected: #6565AE;

.view-button, .post-navheader .view-button { background-color: $bg_color_viewbutton; }
.view-button.selected { background-color: $bg_color_viewbutton_selected; }
