#header { background-image: url("/images/starry.jpg"); background-position: right top; }
#logo, #nav-bottom { background-color: transparent !important; }
#header #user-info, #header #nav-top { background-color: #05050F; background-color: rgba(5, 5, 15, 0.9); }

$FONT_COLOR: #DADADA;
$FONT_COLOR_DARK: #444444;
body { background-color: #211E2F; color: $FONT_COLOR; }

#content th, .content-header { background-color: #0D0B1E; }
.sub { color: #F3F3F3; }
.sub, .post-navheader, .flash.breadcrumbs { background-color: #131937; }
.subber { background-color: #0D0B1E; color: $FONT_COLOR; }
.selector-popup, .single-description { background-color: #484357; color: $FONT_COLOR; }
.single-description a, #content th a, .content-header a { color: #B5AFCB; }
.single-description a:visited, #content th a:visited, .content-header a:visited { color: #9C9AA4; }

#post-menu-box { border-top: 1px solid #808080; border-top: 1px solid rgba(128,128,128,0.5); }
#post-menu-box div { border-bottom: 1px solid #808080; border-bottom: 1px solid rgba(128,128,128,0.5); }
#post-menu-box a { color: inherit; }
#content .even, .post-post, .post-reply:nth-child(even), #post-editor, .odd blockquote, .post-reply:nth-child(odd) blockquote { background-color: #31323B; }
#content .odd, .post-reply:nth-child(odd), .post-post + #post-editor, .post-post + a + #post-editor, .even blockquote, .post-post blockquote, .post-reply:nth-child(even) blockquote { background-color: #25262E; }

.post-navheader .view-button, .view-button.selected, .view-button, .link-box.green, .link-box.blue, .link-box.red, .tag-item { background-color: #463C65; }
.flash.breadcrumbs .link-box, .subber .link-box { background-color: #5C5778; }
#post-editor .green { background-color: #484357; color: $FONT_COLOR; }
.post-subheader { background-color: #484357; color: #F3F3F3; }

.subber, .subber a, .subber a:visited { color: #9C9AA4; }
.subber b { color: #F3F3F3; }
.post-expander { background-color: #25262E; }

.selector-popup { font-weight: normal; }
.post-icon, #current-icon-dropdown, .post-author { background-color: #0E0B1E; }
#current-icon-dropdown { color: #111111; }
.post-character, .post-screenname, .post-author { font-weight: bold; }
.post-screenname, .post-screenname a, .post-screenname a:visited { color: #9C9AA4; }
.post-character, .post-character a, .post-character a:visited, .post-author, .post-author a, .post-author a:visited { color: #F3F3F3; }

.selected-icon { border-color: #B9BBEB; }

#content .dark { background-color: #131937; color: #FEFEFE; }

.pagination .current { background-color: #484357; }
.pagination a { color: #F3F3F3; }
.pagination a:visited { color: #9C9AA4; }
.pagination .disabled { color: #58546B; }

.post-character, .post-screenname { background-color: #111842; }

#post-menu-box { background-color: #191919; }
#post-menu-box a:hover div { background-color: #252525; }

#post-menu-box, #content .even, #content .odd, .post-post, .post-reply { color: $FONT_COLOR; }

.green { background-color: #323232; }

.tag-item { background-color: #241F4E; }
.even .tag-item { background-color: #24252D; }
.odd .tag-item { background-color: #1A1A22; }
a, .tag-item { color: #B5AFCB; }
a:visited { color: #9C9AA4; }
.flash.success, .flash.error, .flash.inbox { background-color: #484357; color: $FONT_COLOR; }

/* Hovering help box on post editor */
.ui-widget-content { background-color: #211E2F; color: $FONT_COLOR; }
.ui-widget.ui-widget-content { border-color: $FONT_COLOR_DARK; }
.ui-widget-header { background-color: #0D0B1E; color: #EEEEEE; border-color: #28225D; }
/* TODO: style 'X' button on hover when all the other forms are done */


/* Darken input boxes */
$INPUT_BG: #4D4B5B; /* for generic input boxes all over the place */
$INPUT_BORDER: #625F73;
$INPUT_PLACEHOLDER: #8884A0;
$MCE_PANEL_BG: #3B394A; /* MCE header & footer background */
$SELECT2_HIGHLIGHT: #5B586B;
$SELECT2_SELECTED: #3F3D4C;
$SELECT2_SEARCH: $SELECT2_HIGHLIGHT;

/* - placeholders */
::-webkit-input-placeholder { color: $INPUT_PLACEHOLDER; }
:-moz-placeholder { color: $INPUT_PLACEHOLDER; opacity: 1; }
::-moz-placeholder { color: $INPUT_PLACEHOLDER; opacity: 1; }
:-ms-input-placeholder { color: $INPUT_PLACEHOLDER; }
::-ms-input-placeholder { color: $INPUT_PLACEHOLDER; }
::placeholder { color: $INPUT_PLACEHOLDER; }

/* - account options, post editor */
#content .form-table input:not([type='submit']), #content .form-table textarea, #icon-table input:not([type='submit']) { background-color: $INPUT_BG; color: $FONT_COLOR; border-color: $INPUT_BORDER; }
/* - select2 */
.select2-dropdown { background-color: $INPUT_BG; color: $FONT_COLOR; border-color: $INPUT_BORDER; }
/* -- multiple / tag */
.select2-container--default .select2-selection--multiple { background-color: $INPUT_BG; color: $FONT_COLOR; border-color: $INPUT_BORDER; }
/* --- tag item */
.select2-container--default .select2-selection--multiple .select2-selection__choice { background-color: $SELECT2_HIGHLIGHT; border-color: $INPUT_BORDER; } /* TODO: check with Aestrix at a better time */
/* -- single */
.select2-container--default .select2-selection--single { background-color: $INPUT_BG; color: $FONT_COLOR; border-color: $INPUT_BORDER; }
.select2-container--default .select2-selection--single .select2-selection__rendered { color: $FONT_COLOR; }
/* --- selected */
.select2-container--default .select2-results__option[aria-selected=true] { background-color: $SELECT2_SELECTED; color: inherit; }
/* --- hovered */
.select2-container--default .select2-results__option--highlighted[aria-selected] { background-color: $SELECT2_HIGHLIGHT; color: inherit; }
/* --- input */
.select2-container--default .select2-search--dropdown .select2-search__field { background-color: $SELECT2_SEARCH; color: $FONT_COLOR; border-color: $INPUT_BORDER; }
/* --- disabled input */
.select2-container--default.select2-container--disabled .select2-selection--single { background-color: $MCE_PANEL_BG; color: $FONT_COLOR; border-color: $INPUT_BORDER; } /* TODO: check with Aestrix at a better time */

/* HTML written editor */
#post-editor input:not([type='submit']), #post-editor textarea, #message_form input:not([type='submit']), #message_form textarea { background-color: $INPUT_BG; color: $FONT_COLOR; border-color: $INPUT_BORDER; }
/* RTF post editor – see tinymce.css for styling of the iframe itself */
/* border: */
#content .mce-panel { border-color: $INPUT_BORDER; }
#content .mce-edit-area { border-top-color: $INPUT_BORDER; }
#content .mce-statusbar { border-top-color: $INPUT_BORDER; }
/* header & buttons: */
/* - default */
#content .mce-panel, #content .mce-btn { background-color: $MCE_PANEL_BG; }
#content .mce-ico { color: $FONT_COLOR; }
/* footer: 'powered by' text */
#content .mce-branding-powered-by { background-color: $MCE_PANEL_BG; border-color: $INPUT_BORDER; }
