@import 'variables';
#header {
  background-color: #6F658D;
  background-image: url("/images/starry.jpg");
  background-position: right top;
}
#logo, #nav-bottom { background-color: transparent !important; }
#user-info, #nav-top { background-color: #41416E; background-color: rgba(65, 65, 110, 0.9); }

body { background-color: #B0AFB7; }

th, .content-header { background-color: #42416E; }
.sub { color: #F3F3F3; }
.sub, .post-navheader, .flash.breadcrumbs { background-color: #8287A2; }
.selector-popup, .single-description, .subber, .form-table-ender { background-color: #6F658D; color: #DADADA; }
th, .single-description, .content-header {
  a { color: #F3F3F3; }
  a:visited { color: #C6C6E5; }
}

$EVEN_COLOR: #E3E3E3;
$ODD_COLOR: #D8D8D8;

#post-menu-box {
  border-top: 1px solid #808080;
  border-top: 1px solid rgba(128,128,128,0.5);
  background-color: #BCBCBC;

  a { color: inherit; }
  a:hover div { background-color: #D3D3D3; }
  div {
    border-bottom: 1px solid #808080;
    border-bottom: 1px solid rgba(128,128,128,0.5);
  }
}
.even, .post-post, .post-reply:nth-child(even), #post-editor {
  background-color: $EVEN_COLOR;

  blockquote {
    background-color: calculate-transparent-color($EVEN_COLOR, $ODD_COLOR, 0.2);
  }
}
.odd, .post-reply:nth-child(odd), .post-post + #post-editor, .post-post + a + #post-editor {
  background-color: $ODD_COLOR;

  blockquote {
    background-color: calculate-transparent-color($ODD_COLOR, $EVEN_COLOR, 0.2);
  }
}

.post-navheader .view-button, .view-button.selected, .view-button, .link-box.green, .link-box.blue, .link-box.red { background-color: #6565AE; }
.flash.breadcrumbs .link-box, .subber .link-box { background-color: #8689B7; }
.green { background-color: #D8D8D8; }
#post-editor .green { background-color: #9692A8; color: #DADADA; }
.post-subheader { background-color: #9692A8; color: #F3F3F3; }

.subber, .flash.breadcrumbs {
  &, a, a:visited { color: #C6C6E5; }
  b { color: #F3F3F3; }
}
.post-expander { background-color: #D8D8D8; }

#character-selector { font-weight: normal; }
.post-icon, #current-icon-dropdown { background-color: #9498AC; }
.post-author { background-color: #42416E; }
.post-character, .post-screenname, .post-author { font-weight: normal; }
.post-character, .post-screenname { background-color: #645F8A; }
.post-screenname, .post-screenname a, .post-screenname a:visited { color: #C6C6E5; font-style: italic; }
.post-character, .post-character a, .post-character a:visited, .post-author, .post-author a, .post-author a:visited { color: #F3F3F3; }

/*.selected-icon { border-color: #409CFF; }*/

#content .dark { background-color: #645F8A; color: #FEFEFE; }

tr.gallery-tags .tag-item { background-color: #968BB4; color: #F7F7F7; }
.tag-item { color: #444158; }
a { color: #666284; }
a:visited { color: #484357; }

.flash.success, .flash.error, .flash.inbox { background-color: #CDC7E7; }
.pagination .current { background-color: #9692A8; }
.pagination a { color: #F3F3F3; }
.pagination a:visited { color: #C6C6E5; }
.pagination .disabled { color: #58546B; }
.pagination a:hover { background-color: #9498AC; }
