#header { background-image: url("/images/starry.jpg"); background-position: right top; }
#logo, #nav-bottom { background-color: transparent !important; }
#header #user-info, #header #nav-top { background-color: #05050F; background-color: rgba(5, 5, 15, 0.9); }

body { background-color: #6C697C; }

#content th, .post-header { background-color: #13132F; }
#content .sub { color: #F3F3F3; }
#content .sub, .post-navheader, #content .subber, .subber { background-color: #182152; }
#content .beige { background-color: #484357; color: #DADADA; }
#content .beige a, #content th a, .post-header a { color: #B5AFCB; }
#content .beige a:visited, #content th a:visited, .post-header a:visited { color: #9C9AA4; }

#post-menu-box { border-top: 1px solid #808080; border-top: 1px solid rgba(128,128,128,0.5); background-color: #BCBCBC; }
#post-menu-box a:hover div { background-color: #D3D3D3; }
#post-menu-box div { border-bottom: 1px solid #808080; border-bottom: 1px solid rgba(128,128,128,0.5); }
#post-menu-box a { color: inherit; }
#content .even, .post-post, .post-reply:nth-child(even), #post-editor, .post-reply:nth-child(odd) blockquote { background-color: #E3E3E3; }
#content .odd, .post-reply:nth-child(odd), .post-post + #post-editor, .post-post + a + #post-editor, .post-post blockquote, .post-reply:nth-child(even) blockquote { background-color: #D8D8D8; }

.post-navheader .view-button, .view-button.selected, .view-button, .link-box.green, .link-box.blue, .link-box.red { background-color: #463C65; }
.green { background-color: #D8D8D8; }
#post-editor .green { background-color: #484357; color: #DADADA; }
.post-subheader { background-color: #484357; color: #F3F3F3; }

.subber, .subber a, .subber a:visited { color: #9C9AA4; }
.subber b { color: #F3F3F3; }
.post-expander { background-color: #9692A8; }

#character-selector { font-weight: normal; }
.post-icon, #current-icon-dropdown, .post-author { background-color: #13132F; }
.post-character, .post-screenname, .post-author { font-weight: bold; }
.post-character, .post-screenname { background-color: #484357; }
.post-screenname, .post-screenname a, .post-screenname a:visited { color: #9C9AA4; }
.post-character, .post-character a, .post-character a:visited, .post-author, .post-author a, .post-author a:visited { color: #F3F3F3; }

#content .dark { background-color: #182152; color: #FEFEFE; }

a { color: #666284; }
a:visited { color: #484357; }

.flash.success, .flash.error, .flash.inbox { background-color: #9692A8; }
.pagination .current { background-color: #484357; }
.pagination a { color: #F3F3F3; }
.pagination a:visited { color: #9C9AA4; }
.pagination .disabled { color: #58546B; }
