- content_for :breadcrumbs do
  = link_to "News", news_index_path
  &raquo;
  %b Edit

= form_with model: @news do |f|
  .form-table#news-table
    .editor-title Edit News Post
    = render 'editor', f: f
