.content-header
  Site News
  - if current_user&.admin?
    = link_to new_news_path do
      .link-box.action-new + New News Post
= render @news

- if @news.total_entries > @news.per_page
  .paginator.centered.sub
    .pagination
      - args = {container: false, first_label: "&laquo; Newest", last_label: "Oldest &raquo", previous_label: "&lt; Newer", next_label: "Older &gt;", summary_label: "%d of %d"}
      .normal-pagination
        = will_paginate @news, args
      .mobile-pagination
        = will_paginate @news, args.merge(mobile_view: true)
  .clear
