- content_for :breadcrumbs do
  = link_to "News", news_index_path
  &raquo;
  %b New

= form_for @news do |f|
  %table.form-table
    %thead
      %tr
        %th.centered{colspan: 2} Create News Post
    = render 'editor', f: f
