- content_for :breadcrumbs do
  = link_to "Settings", settings_path
  &raquo;
  = link_to @setting.name, tag_path(@setting)
  &raquo;
  %b Edit

= form_for @setting do |f|
  %table.form-table
    %thead
      %tr
        %th.editor-title{colspan: 2} Edit Setting
    = render 'tags/editor', f: f
