- content_for :breadcrumbs do
  = link_to 'Blocks', blocks_path
  &raquo;
  Block on #{@block.blocked_user.username}
  &raquo;
  %b Edit

= form_for @block, url: block_path(@block), method: :put do |f|
  %table.form-table.alternating
    %thead
      %tr
        %th.editor-title{colspan: 2} Edit Block
    = render 'editor', f: f, blocked_user: @block.blocked_user
