- content_for :breadcrumbs do
  = link_to 'Blocks', blocks_path
  &raquo;
  %b New

= form_for @block do |f|
  %table.form-table.alternating
    %thead
      %tr
        %th.editor-title{colspan: 2} Block User
    = render 'editor', f: f
