- partial_type = (page_view == 'list') ? 'characters/list_section' : 'characters/icon_view'
- characters = characters.fetch(group.id, []) if local_assigns[:select_characters]
- unless local_assigns[:no_header]
  %tr
    %th.sub{colspan: colspan}
      = group ? "Group: #{group.name}" : 'Ungrouped Characters'
- if characters.present?
  - templates = @user.templates.select{|t| characters.keys.include?(t.id)}
  = render partial: partial_type, collection: templates, as: :name, locals: { settings: settings, characters: characters, select_characters: true }
  - if characters.key?(nil)
    = render partial_type, name: 'No Template', characters: characters[nil], show_new_character_button: @user.id == current_user&.id, settings: settings
- else
  %tr
    %td.centered.padding-5{class: cycle('even', 'odd'), colspan: 6} — No characters yet —
