- characters = characters.where(cluster: cluster)
%tr
  %td.cluster-title
    %b= cluster || 'None'
%tr
  %td.icons-box.left-align
    .character-icon-list
      - characters = characters.left_outer_joins(:default_icon).pluck(:id, :name, :screenname, :user_id, :url, :keyword)
      = render partial: 'characters/icon_item', collection: characters, as: :character
