- if @template
  = render partial: 'templates/list_view', locals: {template: @template, characters: @template.characters} # TODO paginate

- elsif @characters.exists?
  - @templates.each do |template|
    = render partial: 'templates/list_view', locals: {template: template, characters: @characters.select { |c| c.template == template} }
  - if @characters.total_pages > 1
    %tfoot
      %tr
        %td{colspan: 6}= render partial: 'posts/paginator', locals: { paginated: @characters }

- else
  %tr
    %td.centered.padding-10{class: cycle('even', 'odd'), colspan: 6} — No characters yet —
