- if characters.empty?
  %tr
    %td.centered.padding-5{class: cycle('even', 'odd'), colspan: col_count} — No characters yet —
- else
  %tr
    - klass = cycle('even', 'odd')
    %td.padding-5{class: klass}
      %b Name
    - if local_assigns[:show_template]
      %td.padding-5{class: klass}
        %b Template
    %td.padding-5{class: klass}
      %b Nickname
    %td.padding-5{class: klass}
      %b Screenname
    %td.padding-5{class: klass}
      %b Facecast
    %td.padding-5{class: klass}
      - if local_assigns[:show_user]
        %b User
      - else
        %b Setting
    %td.padding-5{class: klass}
  - settings = settings_info(characters) unless local_assigns[:show_user]
  - pluck = characters_list(characters.ordered, local_assigns[:show_template])
  - params = { settings: settings, show_template: local_assigns[:show_template],
              show_user: local_assigns[:show_user], hide_buttons: local_assigns[:hide_buttons] }
  = render partial: 'characters/list_item', collection: pluck, as: :character, locals: params
  - if characters.methods.include?(:total_pages) && characters.total_pages > 1
    %tfoot
      %tr
        %td{colspan: col_count}= render 'posts/paginator', paginated: characters
