= form_for @character, :url => characters_path, :method => :post do |f|
  = f.hidden_field :default_icon_id
  %table#signup.centered
    %tr
      %th.centered
        New Character
    = render partial: 'editor', locals: {f: f}
