%b Credits!
%ul
  %li= link_to 'Silk icons by Mark James', 'http://www.famfamfam.com/lab/icons/silk/'
  %li Audited for ActiveRecord
  %li Chosen
  %li Gon
  %li HTTParty
  %li Nokogiri
  %li GNU Terry Pratchett
  %li Paginate

%b Technical Stack!
%br
The Glowfic Constellation uses the following in no particular order:
%ul
  %li Ruby on Rails
  %li Heroku
  %li= link_to 'PostgreSQL', 'http://www.postgresql.org/'
  %li Gmail SMTP
  %li= link_to 'Haml', 'http://haml.info/'
  %li JQuery
  %li RSpec
  %li Factory Girl
