%table.tag-right-content-box
  %thead
    %tr
      %th{colspan: 7} Characters Tagged: #{@tag.name}
  %tbody
    = render 'characters/list_section', name: nil, characters: @characters, hide_buttons: true, show_user: true, show_template: true
