-# locals: ()

.tag-right-content-box
  .content-header Galleries Tagged: #{@tag.name}
  - if @galleries.present?
    .galleries-holder
      = render partial: 'galleries/expandable', collection: @galleries, as: :gallery, locals: { tag: @tag }
  - else
    .centered.padding-5{class: cycle('even', 'odd')} — No galleries yet —
