%table.tag-right-content-box
  %thead
    %tr
      %th{colspan: 4} Galleries Tagged: #{@tag.name}
  %tbody
    - if @galleries.present?
      = render partial: 'galleries/expandable', collection: @galleries, as: :gallery, locals: {tag: @tag}
    - else
      %td.centered.padding-5{class: cycle('even', 'odd'), colspan: 4} — No galleries yet —
