%table.tag-right-content-box
  %thead
    %tr
      %th.table-title{colspan: 6} Settings Tagged: #{@tag.name}
  %tbody
    - @tag.children.each do |setting|
      %tr
        %td{class: cycle('even', 'odd')}= link_to setting.name, tag_path(setting)
