- content_for :breadcrumbs do
  = link_to "Tags", tags_path
  &raquo;
  = link_to @tag.name, tag_path(@tag)
  &raquo;
  %b Edit

= form_for @tag.becomes(Tag) do |f|
  - f.object = @tag.becomes(@tag.class) # handles the STI with Tag/Setting/ContentWarning properly
  %table.form-table
    %tr
      %th.centered{colspan: 2} Edit Tag
    = render partial: 'editor', locals: {f: f}
