%tr
  - klass = cycle('even', 'odd')
  %td.padding-10.board-title{class: klass}= link_to continuity.name, continuity_path(continuity)
  %td.padding-10.board-authors{class: klass}
    - if continuity.authors_locked?
      - writers = continuity.writers.reject(&:deleted?).sort_by { |a| a.username.downcase }
      = safe_join(writers.map { |u| user_link(u) }, ', ')
    - else
      Anyone
  %td.padding-10.board-time{class: klass}= pretty_time(continuity.tagged_at)
