%tr
  %td.padding-10.board-title= link_to board.name, continuity_path(board)
  %td.padding-10.board-authors
    - if board.authors_locked?
      - writers = board.writers.reject(&:deleted?).sort_by{|a| a.username.downcase}
      = safe_join(writers.map { |u| user_link(u) }, ', ')
    - else
      Anyone
  %td.padding-10.board-time= pretty_time(board.tagged_at)
