%tr
  - klass = cycle('even','odd')
  %td.padding-10.board-title{class: klass}= link_to board.name, board_path(board)
  %td.padding-10.board-authors{class: klass}
    - if board.open_to_anyone?
      Anyone
    - else
      = board.writers.sort_by{ |author| author.username.downcase }.map { |u| link_to u.username, user_path(u) }.join(', ').html_safe
  %td.padding-10.board-time{class: klass}= pretty_time(board.posts.ordered.first.try(:tagged_at))
