%table
  %thead
    %tr
      %th{colspan: 3}
        Continuities
        - if logged_in?
          = link_to new_board_path do
            .link-box.green + New Continuity
    %tr
      %th.sub Name
      %th.sub Authors
      %th.sub Last Updated
  %tbody
    - Board.all.each do |board|
      %tr
        - klass = cycle('even','odd')
        %td.padding-10.board-title{class: klass}= link_to board.name, board_path(board)
        %td.padding-10.board-authors{class: klass}
          - if board.open_to_anyone?
            Anyone
          - else
            = board.writers.map { |u| link_to u.username, user_path(u) }.join(', ').html_safe
        %td.padding-10.board-time{class: klass}= pretty_time(board.posts.limit(1).order('tagged_at desc').first.try(:tagged_at))
