#editor-help-box.hidden
  #markup-allowed-box
    %h3 HTML editor
    %div#markup-allowed-tags
      %strong Allowed tags:
      %ul.comma-separated-list
        - Glowfic::ALLOWED_TAGS.sort.each do |tag|
          %li= tag
    %br
    %div#markup-allowed-attributes
      %strong Allowed attributes:
      %ul
      - Glowfic::ALLOWED_ATTRIBUTES.each do |tag_name, attrs|
        %li
          %strong #{tag_name}:
          %ul.comma-separated-list
            - attrs.each do |attribute|
              %li= attribute
