- content_for :breadcrumbs do
  = link_to "Continuities", boards_path
  &raquo;
  = link_to @post.board.name, board_path(@post.board)
  &raquo;
  = link_to @post.subject, post_path(@post)
  &raquo;
  %b History

= render partial: 'writable/history', locals: { audited: @post }
