- if params[:view] == 'import'
  = render 'import'
- else
  .content-header
    Create a new post
    - if current_user.has_permission?(:import_posts)
      = link_to new_post_path(view: :import) do
        .view-button Import &raquo;
  = render 'write', post: @post
