.content-header= @post.subject
- if @post.description.present?
  .post-subheader= sanitize_post_description(@post.description).html_safe
= render 'replies/single', reply: @written, show_edit: false
= render 'write', post: @post
