.content-header= @post.subject
- if @post.description.present?
  .post-subheader
    .padding-15= sanitize_post_description(@post.description).html_safe
= render partial: 'replies/single', locals: {reply: @written, show_edit: false}
= render partial: 'write', locals: { post: @post }
