%table
  %tr
    %th{ :colspan => 2 }= @post.subject
  %tr
    %td.bg.spacer{ :colspan => 2 }
  = render partial: 'replies/single', locals: {reply: @written, show_edit: false}
  = render partial: 'write_post', locals: { post: @post, url: @url, method: @method }
  %tr
    %th{ :colspan => 2 }