- content_for :posts_title do
  Unread Posts

- content_for :many_submit_tags do
  = submit_tag "Hide from Unread", class: 'button'
  = submit_tag "Mark Read", class: 'button'

= render partial: 'posts/list', locals: {posts: @posts, path: :unread_path, many_form_path: mark_posts_path, many_form_method: :post, many_mark_continuity_path: mark_boards_path}
