%tr
  %th.sub Name
  %td{class: cycle('even', 'odd')}= f.text_field :name, placeholder: "Gallery Name", class: 'text'
%tr
  %th.vtop.sub Groups
  %td{class: cycle('even', 'odd')}= tag_select(gallery, f, :gallery_groups)
