%tr
  %th.sub= f.label :name
  %td{class: cycle('even', 'odd')}= f.text_field :name, placeholder: "Gallery Name", class: 'text'
%tr
  %th.vtop.sub= label_tag :gallery_group_ids, 'Groups'
  %td{class: cycle('even', 'odd')}= tag_select(gallery, f, :gallery_groups)
