- icon_id, keyword, url = icon_item
.gallery-icon
  = link_to icon_path(id: icon_id) do
    = icon_mem_tag url, keyword, gallery: true
    %br
    %span.icon-keyword= keyword
  - if is_owner && !skip_forms
    .select-button= check_box_tag :"marked_ids[]", icon_id, false, id: nil
