= form_tag icon_gallery_path(@gallery), :method => :post do
  %table#signup.centered
    %tr
      %th.centered
        Add Icon to Gallery
    %tr
      %td
        = select_tag(:icon_id, options_from_collection_for_select(current_user.icons - @gallery.icons, :id, :keyword), {})
    %tr
      %td.centered
        = submit_tag "Add to Gallery", class: 'button'

