%h2 Your Galleries
= link_to "Add Gallery", new_gallery_path
%br
%table
  - current_user.galleries.order('name asc').each do |gallery|
    = render partial: 'single_gallery', locals: {gallery: gallery}
