= form_for @gallery, url: galleries_path, method: :post do |f|
  %table.form-table
    %tr
      %th.centered{colspan: 2}New Gallery
    %tr
      %th.sub Name
      %td.even= f.text_field :name, placeholder: "Gallery Name", class: 'text'
    %tr
      %th.subber{colspan: 2}= submit_tag "Create", class: 'button'