// Colors defined for various layout color palettes
// do not use in layout CSS files; use a semantically relevant variable that references a color here instead

// Default layouts color palette
$colors_white: #FEFEFE;
$colors_silver: #C5C5C5;
$colors_dark: #444444;
$colors_lightbrown: #B9B6AD;
$colors_lightishbrown: #9E9C93;
$colors_brown: #8B8687;
$colors_greybrown: #A3A1A0;
$colors_green: #3F7055;
$colors_plantation: #28503A;
$colors_blue: #4455AA;
$colors_red: #880000;
$colors_greygreen: #B0BBA9;
$colors_lightgrey: #EEEEEE;
$colors_darkpurple: #3E384F;
$colors_black: #101010;
$colors_golden: #FDE295;
$colors_cinnamon: #7B3F00;
$colors_confetti: #C8A528;
$colors_lemon: #FFFACD;

// Starry layouts color palette
$colors_black: #101010;
$colors_gunpowder: #484357;
$colors_concrete: #F3F3F3;
$colors_manatee_lighter: #9692A8;
$colors_manatee_darker: #8287A2;
$colors_scampi: #6565AE;
$colors_mulledwine: #463C65;
$colors_rum: #6F658D;
$colors_bunting_brighter: #182152;
$colors_bunting_darker: #111842;
$colors_bigstone: #131937;
$colors_alto_brighter: #DADADA;
$colors_alto_darker: #D8D8D8;
$colors_santasgrey: #9C9AA4;
$colors_santasgrey_bluer: #9498AC;
$colors_dolphin: #645F8A;
$colors_ebony: #13132F;
$colors_blackcurrant_redder: #0E0B1E;
$colors_blackcurrant_blacker: #0D0B1E;
$colors_prelude: #CDC7E7;
$colors_logan: #B5AFCB;
$colors_periwinklegrey: #C6C6E5;
$colors_wildblueyonder: #8689B7;
$colors_fiord: #42416E;
$colors_shark: #25262E;
$colors_bunker: #05050F;
$colors_martinique: #41416E;

// dark theme
$colors_alto: #DDDDDD;
$colors_silver_chalice: #A2A2A2;
$colors_silver_again: #BBBBBB;
$colors_cabbage_pont: #444D3F;

// monochrome and river
$colors_silver_darker: #BDBDBD;
$colors_hit_gray: #A9B4BB;
$colors_gallery: #ECECEC;
$colors_comet: #545A79;
$colors_rock: #503636;
