@use "sass:color";
@use 'sass:math';
@use 'palette' as *;

// Variables
// global font sizes
$font_size_header: 1rem; // header
$font_size_large: 1.125rem;
$font_size_main: 1rem; // main content
$font_size_smallish: 0.9375rem;
$font_size_small: 0.875rem; // header-links (mobile mode), table elements
$font_size_smallerish: 0.8125rem;
$font_size_smaller: 0.75rem;
$font_size_mini: 0.625rem; // time-loaded

// header
$font_color_header_link: $colors_bright !default; // header links
$font_color_header_link_hover: $colors_brown !default; // header links (hover)

$bg_color_header_top: $colors_green !default; // top header strip for logo
$bg_color_header_middle: $colors_darkpurple !default; // middle header strip with user items
$bg_color_header_bottom: $colors_lightbrown !default; // bottom header strip with navigation

// main page
$bg_color_page: #E5DFD1 !default; // overall page
$font_color_page: $colors_black !default;

$font_color_content: $colors_dark !default; // body

// links
$font_color_link: $colors_green !default; // link
$font_color_link_visited: $colors_plantation !default; // link (visited)
$font_color_link_visited_alt: $colors_plantation !default; // starry has an alternate link visited color in some places
$font_color_link_hover: $colors_narvik !default; // link (hovered)

// flashes
// these are the notifications that appear when you submit a form or get a message
$bg_color_flash_error: #FFDDDD !default; // error
$font_color_flash_error: $colors_black !default;
$bg_color_flash_success: #DDEEDD !default; // success
$font_color_flash_success: $colors_black !default;
$bg_color_flash_breadcrumbs: $colors_greybrown !default; // breadcrumbs ("Continuities » Effulgence » make a wish » one enormous bruise")
$font_color_flash_breadcrumbs: $colors_black !default;
$font_color_breadcrumbs_bold: $colors_black !default;
$font_color_breadcrumbs_link_visited: $colors_plantation !default;
$font_color_flash_link: $colors_green !default;
$font_color_flash_hover: $colors_narvik !default;

// link-boxes
$bg_color_linkbox_new: $colors_green !default;
$bg_color_linkbox_edit: $colors_blue !default;
$bg_color_linkbox_favorite: $colors_blue !default;
$bg_color_linkbox_delete: $colors_red !default;
$bg_color_linkbox_dismiss: $colors_red !default;
$bg_color_linkbox_subber: default !default; // this is not styled differently on non-starries, where linkboxes are all colored the same, but is a necessary variable there
// This is definitely not actually right but not possible to get right; TODO consider splitting variable

$font_color_linkbox: $colors_white !default;
$font_color_linkbox_new: $colors_black !default; //TODO: check this
$font_color_linkbox_edit: $colors_black !default;
$font_color_linkbox_favorite: $colors_black !default;
$font_color_linkbox_delete: $colors_black !default;
$font_color_linkbox_dismiss: $colors_black !default;

// inputs
$bg_color_input: $colors_white !default; // regular <input>
$bg_color_input_disabled: #DFDFDF !default; // regular disabled <input>
$font_color_input: $colors_dark !default;
$border_color_input: #AAAAAA !default;

$bg_color_button: $colors_white !default; // buttons; overridden by gradient
$font_color_button: $colors_dark !default;
$border_color_button: #AAAAAA !default;
// color steps on the gradient
$bg_color_button_20: $colors_white !default;
$bg_color_button_50: #F6F6F6 !default;
$bg_color_button_52: $colors_lightgrey !default;
$bg_color_button_100: #F4F4F4 !default;

// other buttons
$bg_color_viewbutton: $colors_lightbrown !default;
$bg_color_viewbutton_selected: $colors_lightishbrown !default;
$font_color_viewbutton: $colors_white !default;

// icons
$border_color_icon_selected: $colors_green !default; // selected icon border
$bg_color_icon: $colors_greygreen !default;
$bg_color_icon_credit: $colors_greygreen !default;
$bg_color_icon_selector: $colors_greygreen !default;
$font_color_icon_selector: $colors_black !default; // used in different places on dark.scss and starries
$font_color_icon_dropdown: $colors_black !default;
$border_color_icon_editor: $colors_greybrown !default;
$bg_color_icon_editor: $colors_greygreen !default;

// characters
$border_color_character_iconless: #666666 !default; // in characters#show icon view when a character has no icon

$bg_color_mini_delete: #E5DFD1 !default; // mini delete buttons on characters#icon_view
$border_color_mini_delete: #CC0000 !default;
$font_color_mini_delete: #CC0000 !default;

// tag items
$bg_color_tag_item: $colors_lightbrown !default;
$bg_color_tag_item_odd: $colors_lightbrown !default;
$bg_color_tag_item_even: $colors_lightbrown !default;
$font_color_tag_item: $colors_green !default;
$font_color_tag_item_gallery: $colors_green !default;

// content headers
$bg_color_head: $colors_brown !default; // primary content header
$font_color_head: $colors_lightgrey !default;
$font_color_head_link: $colors_lightgrey !default;
$font_color_head_link_hover: $colors_alto !default;
$font_color_head_link_visited: $colors_plantation !default;

$bg_color_sub: $colors_lightbrown !default; // secondary content header
$font_color_sub: $colors_darkpurple !default;

$bg_color_subber: $colors_greybrown !default; // tertiary content header
$font_color_subber: $colors_blacker !default;
$font_color_subber_link_visited: $colors_plantation !default;
$font_color_subber_bold: $colors_blacker !default; // TODO: confirm

$bg_color_ender: $colors_greybrown !default; // form table footer with submit
$font_color_ender: $colors_blacker !default;

// content
$filter_disabled: #808080 !default;

$bg_color_even: #E3E3E3 !default;
$bg_color_odd: #D8D8D8 !default;
$bg_color_content_border: transparent !default; // from river, is 0-width in default

// target: #D8D8D8;
// from: #E3E3E3;
// opacity: 0.5;
// from + (given-from) * opacity = target
// (1-opacity) * from + given * opacity = target
// given * opacity = (1 - opacity) * from - target
// given = ((1-opacity)*from - target)/opacity
// so that's (1-opacity)/opacity of from, and -1/opacity of the other
// so that's a ratio of
// (1-opacity)/opacity : -1/opacity
// 1-opacity : -1
// so we want to bias to the left side by opacity-1
// to the from by opacity-1

// mix colors X and Y with weight W (favoring Y, allowing values outside 0 and 1)
@function mix-allow-heavy($color1, $color2, $value) {
  // @return (1 - $value) * $color1 + ($color2 * $value);
  $red: (1 - $value) * color.channel($color1, 'red', $space: rgb) + (color.channel($color2, 'red', $space: rgb) * $value);
  $green: (1 - $value) * color.channel($color1, 'green', $space: rgb) + (color.channel($color2, 'green', $space: rgb) * $value);
  $blue: (1 - $value) * color.channel($color1, 'blue', $space: rgb) + (color.channel($color2, 'blue', $space: rgb) * $value);
  @return rgb($red, $green, $blue);
}

// produces the semi-transparent color needed to lay over $from to produce $target, at $opacity opacity
// do not provide this function an opacity of 0.
@function calculate-transparent-color($from, $target, $opacity) {
  @return rgba(mix-allow-heavy($target, $from, math.div($opacity - 1, $opacity)), $opacity);
}

$opacity_blockquote: 0.2 !default;

// Warnings for when errors occur due to altering sections in another tab
$bg_color_section_warning: #D06E6E !default;
$bg_color_section_warning_alpha: #FF0000 !default;

$bg_color_message_expander: $colors_blacker !default;

// select2 dropdown
$font_color_select2_container: $colors_dark !default;
// Most of this is currently styled by gem files
$bg_color_select2_highlight: #E4E4E4 !default;
$bg_color_select2_selected: $colors_alto !default;
$bg_color_select2_search: $colors_white !default;

// rtf editor
$font_color_input_placeholder: default !default;
$bg_color_mce_panel: #F0F0F0 !default; // MCE header & footer background
$border_color_mce_panel: #CCCCCC !default;
$opacity_mce_label: 1 !default; //TODO: check this
$bg_color_reply_content: $colors_white !default;
$font_color_reply_content: $colors_dark !default;

$bg_color_popup_header: #E9E9E9 !default;
$font_color_popup_header: #333333 !default;
$border_color_popup_header: $colors_alto !default;
$bg_color_popup_content: $colors_white !default;
$font_color_popup_content: #333333 !default;
$border_color_popup: $colors_silver !default;
$bg_color_popup_button: #F6F6F6 !default;
$border_color_popup_button: $colors_silver !default;
$font_color_popup_link: #333333 !default;

// misc
$bg_color_descriptions: $colors_lightbrown !default; // description subheadings on templates page ("single-description"), *not* posts
$bg_color_descriptions_blockquote: #808080 !default;
$font_color_descriptions_link: $colors_green !default;
$font_color_descriptions_link_visited: $colors_plantation !default;
$bg_color_selectionpopup: $colors_lightbrown !default; // selection popups like character/alias on posts#editor
$font_color_selectionpopup: $colors_black !default;

$bg_color_spacer_alt: $colors_brown !default;
$bg_color_search_box: $colors_brown !default;
$font_color_search_box: $colors_black !default;

$font_color_char_switcher: #AAAAAA !default;
$font_color_char_switcher_alpha: #808080 !default;

// replies.scss
$bg_color_icon_overlay: $colors_blacker !default; // box displaying current icon

$bg_color_expander: $colors_greygreen !default; // expander on posts

$bg_color_ender_post: $colors_darkpurple !default;
$font_color_ender_post: $colors_bright !default;

$bg_color_post_character: $colors_brown !default;
$bg_color_post_screenname: $colors_greybrown !default;
$bg_color_post_author: $colors_lightbrown !default;
$font_color_post_info: $colors_black !default;
$font_weight_post_info: default !default; // TODO: this is probably not actually right
$font_color_post_screenname: $colors_black !default;

$border_color_reply_table: #999999 !default;

$bg_color_post_character_narrow: $colors_lightbrown !default;
$bg_color_post_author_narrow: $colors_brown !default; // these are flipped from not-narrow mode to make the quick-switcher blend in

$border_color_unread_reply: #FF0000 !default;

$font_color_paginate: $colors_blacker !default;
$font_color_paginate_link: $colors_lightgrey !default;
$bg_color_paginate_link_hover: $colors_greybrown !default;
$font_color_paginate_link_visited: $colors_brown !default;
$bg_color_paginate_current_page: $colors_green !default;
$font_color_paginate_link_disabled: $colors_black !default;
$bg_color_post_icon: $colors_greygreen !default;

$font_color_menu_link: $colors_lightgrey !default;
$bg_color_menu_link_hover: $colors_greygreen !default;

// post headers
$bg_color_post_description: $colors_greybrown !default;
$font_color_post_description: $colors_black !default;
$bg_color_navheader: $colors_lightbrown !default;
$bg_color_navbutton: $colors_greybrown !default;

$bg_color_post_menu: $colors_brown !default;
$border_color_post_menu: $colors_greybrown !default;
$font_color_post_menu: $colors_black !default;

$bg_color_badge: $colors_golden !default;
$font_color_badge: $colors_cinnamon !default;
$border_color_badge: $colors_confetti !default;
$shadow_color_badge: $colors_lemon !default;

$font_color_reply_footer: default !default; // from river // TODO: fix
$shadow_color_nav: $colors_bunker !default;
