// Variables
// global font sizes
$font_size_header: 1rem; // header
$font_size_large: 1.125rem;
$font_size_main: 1rem; // main content
$font_size_smallish: 0.9375rem;
$font_size_small: 0.875rem; // header-links (mobile mode), table elements
$font_size_smallerish: 0.8125rem;
$font_size_smaller: 0.75rem;
$font_size_mini: 0.625rem; // time-loaded

// default color palette
// color palette used by the default style
// do not use in CSS files; use a semantically relevant variable below that references a color here instead
$colors_white: #FFFFFF;
$colors_bright: #FEFEFE;
$colors_dark: #444444;
$colors_lightbrown: #B9B6AD;
$colors_lightishbrown: #9E9C93;
$colors_brown: #8B8687;
$colors_greybrown: #A3A1A0;
$colors_green: #3F7055;
$colors_blue: #4455AA;
$colors_red: #880000;
$colors_greygreen: #B0BBA9;
$colors_lightgrey: #EEEEEE;
$colors_darkpurple: #3E384F;
$colors_black: #101010;

// Semantic colors
// colors listed here should be named according to where and how they are used, to allow layouts to better recolor the site

// header
$font_color_header_link: $colors_bright; // header links
$font_color_header_link_hover: $colors_brown; // header links (hover)

$bg_color_header_top: $colors_green; // top header strip for logo
$bg_color_header_middle: $colors_darkpurple; // middle header strip with user items
$bg_color_header_bottom: $colors_lightbrown; // bottom header strip with navigation

// main page
$bg_color_page: #E5DFD1; // overall page
$font_color_page: $colors_black;

$font_color_content: $colors_dark; // body

// links
$font_color_link: $colors_green; // link
$font_color_link_visited: #28503A; // link (visited)
$font_color_link_visited_alt: $font_color_link_visited; // starry has an alternate link visited color in some places
$font_color_link_hover: #FCFEFD; // link (hovered)

// flashes
// these are the notifications that appear when you submit a form or get a message
$bg_color_flash_error: #FFDDDD; // error
$font_color_flash_error: $font_color_page;
$bg_color_flash_success: #DDEEDD; // success
$font_color_flash_success: $font_color_page;
$bg_color_flash_inbox: #DDDDEE; // new message
$font_color_flash_inbox: $font_color_page;
$bg_color_flash_breadcrumbs: $colors_greybrown; // breadcrumbs ("Continuities » Effulgence » make a wish » one enormous bruise")
$font_color_flash_breadcrumbs: $font_color_page;
$font_color_breadcrumbs_bold: $font_color_flash_breadcrumbs;
$font_color_flash_link: $font_color_link;
$font_color_flash_hover: $font_color_link_hover;

// link-boxes
$bg_color_linkbox_new: $colors_green;
$bg_color_linkbox_edit: $colors_blue;
$bg_color_linkbox_favorite: $colors_blue;
$bg_color_linkbox_delete: $colors_red;
$bg_color_linkbox_dismiss: $colors_red;
//$bg_color_linkbox_subber // this is not styled differently on non-starries, where linkboxes are all colored the same, but is a necessary variable there

// inputs
$bg_color_input: $colors_white; // regular <input>
$font_color_input: $font_color_content;
$border_color_input: #AAAAAA;

$bg_color_button: $colors_white; // buttons; overridden by gradient TODO make modifiable
$font_color_button: $font_color_content;
$border_color_button: #AAAAAA;

// other buttons
$bg_color_viewbutton: $colors_lightbrown;
$bg_color_viewbutton_selected: $colors_lightishbrown;
$font_color_viewbutton: $colors_white;

// icons
$border_color_icon_selected: $colors_green; // selected icon border
$bg_color_icon: $colors_greygreen;
$bg_color_icon_credit: $colors_greygreen;
$bg_color_icon_selector: $colors_greygreen;
$font_color_icon_selector: $font_color_page; // used in different places on dark.scss and starries
$font_color_icon_dropdown: $font_color_page;

// characters
$border_color_character_iconless: #666666; // in characters#show icon view when a character has no icon

$bg_color_mini_delete: #E5DFD1; // mini delete buttons on characters#icon_view
$border_color_mini_delete: #C00;
$font_color_mini_delete: #C00;

// tag items
// varies by location TODO get more complete list from starries
$bg_color_tag_item: $colors_lightbrown;
$bg_color_tag_item_odd: $bg_color_tag_item;
$bg_color_tag_item_even: $bg_color_tag_item;
$font_color_tag_item: $colors_green;
$font_color_tag_item_gallery: $font_color_tag_item;

// content headers
$bg_color_head: $colors_brown; // primary content header
$font_color_head_link: $colors_lightgrey; // TODO: Fix how this and hover are actually unstripped from layout.scss
$bg_color_sub: $colors_lightbrown; // secondary content header
$bg_color_subber: $colors_greybrown; // tertiary content header
$font_color_head: $colors_lightgrey;
$font_color_sub: $colors_darkpurple;
$font_color_subber: black;

$bg_color_ender: $bg_color_subber; // form table footer with submit
$font_color_ender: $font_color_subber;

// content
$bg_color_even: #E3E3E3;
$bg_color_odd: #D8D8D8;

// target: #D8D8D8;
// from: #E3E3E3;
// opacity: 0.5;
// from + (given-from) * opacity = target
// (1-opacity) * from + given * opacity = target
// given * opacity = (1 - opacity) * from - target
// given = ((1-opacity)*from - target)/opacity
// so that's (1-opacity)/opacity of from, and -1/opacity of the other
// so that's a ratio of
// (1-opacity)/opacity : -1/opacity
// 1-opacity : -1
// so we want to bias to the left side by opacity-1
// to the from by opacity-1

// mix colors X and Y with weight W (favoring Y, allowing values outside 0 and 1)
@function mix-allow-heavy($color1, $color2, $value) {
  // @return (1 - $value) * $color1 + ($color2 * $value);
  $red: (1-$value) * red($color1) + (red($color2) * $value);
  $green: (1-$value) * green($color1) + (green($color2) * $value);
  $blue: (1-$value) * blue($color1) + (blue($color2) * $value);
  @return rgb($red, $green, $blue);
}

// produces the semi-transparent color needed to lay over $from to produce $target, at $opacity opacity
// do not provide this function an opacity of 0.
@function calculate-transparent-color($from, $target, $opacity) {
  @return rgba(mix-allow-heavy($target, $from, ($opacity - 1) / $opacity), $opacity);
}

$opacity_blockquote: 0.2;
// semi-transparent version to allow nested blockquotes:
$bg_color_even_blockquote: calculate-transparent-color($bg_color_even, $bg_color_odd, $opacity_blockquote);
$bg_color_odd_blockquote: calculate-transparent-color($bg_color_odd, $bg_color_even, $opacity_blockquote);

// select2 dropdown
$font_color_select2_container: $colors_dark;
// Most of this is currently styled by gem files
$bg_color_select2_highlight: #E4E4E4;
$bg_color_select2_selected: #DDDDDD;
$bg_color_select2_search: $colors_white;

// rtf editor
$font_color_input_placeholder: default;
$bg_color_mce_panel: #F0F0F0; // MCE header & footer background
$bg_color_reply_content: $colors_white;
$font_color_reply_content: $colors_dark;

$bg_color_popup_header: #E9E9E9;
$font_color_popup_header: #333333;
$border_color_popup_header: #DDDDDD;
$bg_color_popup_content: $colors_white;
$font_color_popup_content: #333333;
$border_color_popup: #C5C5C5;
$bg_color_popup_button: #F6F6F6;
$border_color_popup_button: #C5C5C5;
$font_color_popup_link: #333333;

// misc
$bg_color_descriptions: $colors_lightbrown; // description subheadings on templates page ("single-description"), *not* posts
$font_color_descriptions_link: $font_color_link;
$font_color_descriptions_link_visited: $font_color_link_visited;
$bg_color_selectionpopup: $colors_lightbrown; // selection popups like character/alias on posts#editor
$bg_color_spacer_alt: $colors_brown;
$bg_color_search_box: $colors_brown;
$font_color_search_box: $font_color_page;

// replies.scss
$bg_color_icon_overlay: #000000; // box displaying current icon

$bg_color_expander: $colors_greygreen; // expander on posts

$bg_color_ender_post: $colors_darkpurple;
$font_color_ender_post: $colors_bright;

$bg_color_post_character: $colors_brown;
$bg_color_post_screenname: $colors_greybrown;
$bg_color_post_author: $colors_lightbrown;
$font_color_post_info: $font_color_page;
$font_color_post_screenname: $font_color_post_info;

$bg_color_post_character_narrow: $colors_lightbrown;
$bg_color_post_author_narrow: $colors_brown; // these are flipped from not-narrow mode to make the quick-switcher blend in

$font_color_paginate_link: $colors_lightgrey;
$bg_color_paginate_link_hover: $colors_greybrown;
$font_color_paginate_link_visited: $colors_brown;
$bg_color_paginate_current_page: $colors_green;
$font_color_paginate_link_disabled: $colors_black;
$bg_color_post_icon: $colors_greygreen;

$font_color_menu_link: $colors_lightgrey;
$bg_color_menu_link_hover: $colors_greygreen;

// post headers
$bg_color_post_description: $colors_greybrown;
$font_color_post_description: $font_color_page;
$bg_color_navheader: $colors_lightbrown;
$bg_color_navbutton: $colors_greybrown;

$bg_color_post_menu: $colors_brown;
$border_color_post_menu: $colors_greybrown;
$font_color_post_menu: $font_color_page;

$bg_color_badge: #FDE295 !default;
$font_color_badge: #7B3F00 !default;
$border_color_badge: #C8A528 !default;
$shadow_color_badge: #FFFACD !default;
