@import 'variables';

// default icon selector
#character-icon-selector { display: inline-block; vertical-align: top; margin-left: 5px; }
.character-galleries-simple { padding: 10px; }
.character-screenname { font-size: 85%; }
.character-form { display: inline-block; vertical-align: top; }

// template descriptions on templates#show
.single-description {
  a { color: $font_color_descriptions_link; }
  a:visited { color: $font_color_descriptions_link_visited; }
  padding: 5px;
  background-color: $bg_color_descriptions;
}

// character icon view
.character-icon-list { padding: 10px; }
.character-icon { width: 100px; height: 100px; text-align: center; }
.character-icon-item .icon { margin: 5px; }
.character-no-icon {
  @extend .character-icon;
  border: 1px $border_color_character_iconless solid;
  display: inline-block;
}

// character list view
.character-list-template { padding: 10px; }
