@import 'variables';

// default icon selector
#character-icon-selector {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  max-width: calc(100% - 450px);
}

.character-galleries-simple { padding: 10px; }
.character-screenname, .character-is-npc { font-size: 85%; }

.character-form {
  display: inline-block;
  vertical-align: top;
  width: 420px;
}

// template descriptions on templates#show
.single-description { padding: 5px; }

// character icon view
.character-icon-list { padding: 10px; }

.character-icon {
  width: 100px;
  height: 100px;
  text-align: center;
}

.character-icon-item .icon { margin: 5px; }

.character-no-icon {
  display: inline-block;
  border: 1px solid;
  width: 100px;
  height: 100px;
  line-height: 100px;
  padding: 0px 5px;
  text-align: center;
  vertical-align: middle;

  font-size: 90%;
  font-style: italic;
}

// character list view
.character-list-template { padding: 10px; }

.edit_character, .new_character {
  display: flex;
  gap: 4px;
}

.form-table#alias-index {
  .editor-title {
    align-items: center;
    gap: 4px;
  }

  .alias-row {
    grid-template-columns: auto auto;
    justify-items: start;
    justify-content: normal;
    padding: 5px 10px;
    a[data-method='delete'] { justify-self: flex-end }

    &.centered {
      grid-template-rows: none;
      justify-content: center;
      padding: 10px;
    }
  }
}

#character-editor #create_template.hidden { display: none; }
