@import 'variables';

// default icon selector
#character-icon-selector {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  max-width: calc(100% - 450px);
}

.character-galleries-simple { padding: 10px; }
.character-screenname, .character-is-npc { font-size: 85%; }

.character-form {
  display: inline-block;
  vertical-align: top;
}

// template descriptions on templates#show
.single-description {
  padding: 5px;
  background-color: $bg_color_descriptions;
  a { color: $font_color_descriptions_link; }
  a:visited { color: $font_color_descriptions_link_visited; }
}

// character icon view
.character-icon-list { padding: 10px; }

.character-icon {
  width: 100px;
  height: 100px;
  text-align: center;
}

.character-icon-item .icon { margin: 5px; }

.character-no-icon {
  display: inline-block;
  border: 1px $border_color_character_iconless solid;
  width: 100px;
  height: 100px;
  line-height: 100px;
  padding: 0px 5px;
  text-align: center;
  vertical-align: middle;

  background-color: $bg_color_even;
  color: $font_color_page;

  font-size: 90%;
  font-style: italic;
}

// character list view
.character-list-template { padding: 10px; }

.edit_character, .new_character {
  display: flex;
  gap: 4px;
}

.form-table #template-choice .checkbox-field { display: grid; }

.form-table .alias-row {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: start;
  justify-content: normal;
  a[data-method='delete'] { justify-self: flex-end }
}
