@import 'variables';

.gallery-box {
  cursor: pointer;
  width: 20px;
  text-align: center;
}
/* The + / - symbol to minimize a gallery */
.gallery-minmax, .add-gallery-icon { cursor: pointer; }
.gallery-title { height: 5px; } /* So that when a gallery is minimized there is spacing */
.selected-icon { border: 10px $border_color_icon_selected solid; }
.form-table .icon { vertical-align: middle; }

/* Basic gallery and gallery icon formatting */
.gallery { padding: 10px; }
.gallery .icon { margin: 5px; }

.gallery-icon, .character-icon-item {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  width: 130px;
  min-height: 130px;
  text-align: center;
  line-height: 14px;
  word-wrap: break-word;
  vertical-align: top;
}

.icon-editor {
  display: inline-flex;
  align-items: stretch;
  input { height: 23px; }
  input[type='text'], input[type='file'] { width: 209px; }
  .icons-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.gallery-icon-editor {
  @extend .icon-editor;
  margin: 18px 18px 0px 0px;
  border: solid $border_color_icon_editor;
  border-width: 15px 1.5px 5px 1.5px;
  background-color: $bg_color_icon_editor;
  padding: 5px;
  input[type='text'], input[type='file'] { width: 225px; }

  .icons-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.gallery-editor #gallery_name { height: 23px; }

.gallery-edit-form { width: 100%; }

.gallery-icons-edit {
  display: flex;
  flex-flow: row wrap;
}

.form-table.icon-edit-table { width: unset; }

/* Tiny buttons that hover over icons to allow deleting or selecting a checkbox for editing */
.delete-button, .select-button {
  position: absolute;
  top: 0;
  right: 12px;
  cursor: pointer;
}

.delete-button {
  box-sizing: border-box;
  height: 1.5em;
  width: 1.5em;
  padding: 0.2em;
  background-color: $bg_color_mini_delete;
  border: 1px $border_color_mini_delete solid;
  color: $font_color_mini_delete;
  line-height: 1em;
  a, a:visited, a:hover { color: $font_color_mini_delete; }
}

.select-button input {
  width: 1.5em;
  height: 1.5em;
  margin: 0;
}

/* The table in galleries/add to add multiple icons at once */
#icon-table {
  margin: 0;
  width: 100%;

  .icon-buttons {
    width: 45px;
    padding: 0 5px 0 0;

    img { vertical-align: middle; }
  }
}

.icon.preview-icon, #icon-table .preview-icon {
  max-height: 27px;
  max-width: 27px;
  margin: 0;
}

.loading-icon {
  width: 16px;
  height: 16px;
}

.icons-box { background-color: $bg_color_icon; }

.icon-credit {
  background-color: $bg_color_icon_credit;
  text-align: center;
}

/* The preview icon boxes on replace icon and replace character */
.replace-icon {
  @extend .icons-box;
  width: 150px;
  text-align: center;
}

/* Button to remove icons */
.icons-remove {
  clear: both;
  text-align: center;
}

.gallery-buttons { width: 70px; }

.gallery-icon-count {
  width: 150px;
  text-align: center;
}

/* Preview icon box on galleries _add_new */
#preview-box {
  padding: 0px;
  width: 15px !important;  // TODO: check if removing !important breaks anything
}

/* th by upload selector on galleries add new */
#upload-label {
  width: 200px;
  text-align: center !important;
}

#gallery-icon-header {
  width: 170px;
  text-align: center;
}
