@use 'variables' as *;

.gallery-box {
  cursor: pointer;
  width: 20px;
  text-align: center;
}

/* The + / - symbol to minimize a gallery */
.gallery-minmax, .add-gallery-icon { cursor: pointer; }
.gallery-title { height: 5px; } /* So that when a gallery is minimized there is spacing */
.selected-icon { border: 10px $border_color_icon_selected solid; }

/* Basic gallery and gallery icon formatting */
.gallery { padding: 10px; }
.gallery .icon { margin: 5px; }

.gallery-icon, .character-icon-item {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  width: 130px;
  min-height: 130px;
  text-align: center;
  line-height: 14px;
  word-wrap: break-word;
  vertical-align: top;
}

%shared-editor {
  display: inline-flex;
  align-items: stretch;
  input { height: 23px; }

  .icons-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.icon-edit-title { width: 400px; }

.icon-editor {
  @extend %shared-editor;
  width: 400px;
  input[type='text'], input[type='file'] { width: 209px; }
  .icons-box { width: 110px; }
  .icon-edit-table { width: 290px; }
}

.gallery-icon-editor {
  @extend %shared-editor;
  margin: 18px 18px 0 0;
  border: solid $border_color_icon_editor;
  border-width: 15px 1.5px 5px 1.5px;
  background-color: $bg_color_icon_editor;
  padding: 5px 5px 5px 0;
  input[type='text'], input[type='file'] { width: 225px; }
  .icon-edit-table { width: unset; }
}

.icon-edit-table {
  .icon_conf.hidden, .icon_url_field.hidden { display: none; }

  .icon_conf {
    grid-template-columns: 14px auto;
    justify-items: center;
  }
}

.gallery-editor #gallery_name { height: 23px; }

.gallery-edit-form {
  width: 100%;
  grid-template-columns: minmax(min-content, 295px) auto;
  .subber { grid-template-columns: auto; }
  .gallery-icons {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
  }
}

.gallery-icons-edit {
  display: flex;
  flex-flow: row wrap;
}

/* Tiny buttons that hover over icons to allow deleting or selecting a checkbox for editing */
.delete-button, .select-button {
  position: absolute;
  top: 0;
  right: 12px;
  cursor: pointer;
}

.delete-button {
  height: 1.5em;
  width: 1.5em;
  padding: 0.2em;
  background-color: $bg_color_mini_delete;
  border: 1px $border_color_mini_delete solid;
  color: $font_color_mini_delete;
  line-height: 1em;
  a, a:visited, a:hover { color: $font_color_mini_delete; }
}

.select-button input {
  width: 1.5em;
  height: 1.5em;
  margin: 0;
}

/* The table in galleries/add to add multiple icons at once */
.form-table#icon-table {
  margin: 0;
  width: 100%;
  grid-template-columns: 20px auto auto auto 45px;

  .preview-icon-cell { padding: 0; }
  .input-cell { padding: 5px; }
  .url-cell .conf {
    grid-template-columns: 16px auto;
    column-gap: 4px;
    &.hidden { display: none; }
  }

  .icon-buttons {
    grid-template-columns: none;
    grid-auto-flow: column;
    padding: 0 5px 0 0;
    justify-items: end;
    align-items: center;

    a {
      display: grid;
      place-items: center;
    }
  }
}

#icon-upload {
  display: grid;
  grid-template-columns: minmax(min-content, 200px) auto;
  width: 100%;
  div { display: inherit; }

  .subber { place-items: center; }

  & > div:not(.subber) {
    align-items: center;
    justify-items: start;
    column-gap: 5px;
  }
}

.icon.preview-icon, #icon-table .preview-icon {
  max-height: 27px;
  max-width: 27px;
  margin: 0;
}

.loading-icon {
  width: 16px;
  height: 16px;
}

.icons-box { background-color: $bg_color_icon; }

.icon-credit {
  background-color: $bg_color_icon_credit;
  text-align: center;
}

/* The preview icon boxes on replace icon and replace character */
#replace-form {
  grid-template-columns: auto auto;

  .replace-icon {
    justify-items: center;
    align-items: start;
  }

  .replace-posts {
    justify-content: start;
    align-items: center;
  }
}

.replace-icon {
  @extend .icons-box;
  text-align: center;
}

.gallery-table {
  td, th { padding: 5px 10px; }
  .form-table-ender { font-weight: normal; }
}

.form-table#add-existing {
  width: 100%;
  div { grid-template-columns: none; }
  .sub, .icons { justify-content: initial; }
  .sub {
    grid-template-columns: auto 20px;
    grid-auto-rows: 20px;
    text-align: left;
    align-items: center;
    .gallery-name { padding: 0; }
  }
  .form-table-ender:not(:first-child) { padding: 5px 10px; }

  .icons {
    grid-auto-flow: row;
    padding: 5px;
    &.hidden { display: none; }

    .checkbox-field {
      grid-template-columns: 14px auto;
      padding: 0px;
      align-items: center;

      input[type='checkbox'] {
        width: 14px;
        height: 14px;
      }
    }

    .gallery-icons {
      padding: 0px;
      grid-template-columns: repeat(auto-fit, 130px);
      grid-auto-rows: 150px;
      gap: 4px;

      .gallery-icon {
        grid-template-rows: 110px 30px;
        justify-items: center;
        gap: 4px;
      }
    }
  }
}
