@import 'variables';

body, html { height: 100%; }

body {
  margin: 0;
  font-family: Helvetica, Verdana, sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px; // stylelint-disable-line declaration-property-unit-allowed-list
}

*, ::before, ::after { // stylelint-disable-line selector-max-universal
  box-sizing: inherit;
}

/* Links */
a, a:hover { text-decoration: none; }

/* Inputs */
input, textarea, button {
  font-size: $font_size_smallerish;
  height: 25px;
  border-radius: 5px;
  padding: 0 8px;
  border: 1px solid;
  margin: 5px 0;
}

input[type='checkbox'] { height: 23px; }
textarea { padding: 5px; }

button, .button {
  line-height: normal;
  height: 25px;
}

/* Display Helpers */
.no-margin { margin: 0; }
.no-margin-left { margin-left: 0 !important; }
.margin-left-200 { margin-left: 200px; }
.noheight { font-size: 0; }
.margin-10 { margin: 10px; }
.margin-top-7 { margin-top: 7px; }
.padding-5 { padding: 5px 10px; }
.padding-10 { padding: 10px; }
.padding-15 { padding: 15px; }
.padding-left-5 { padding-left: 5px; }
.padding-right-10 { padding-right: 10px; }
.width-15 { width: 15px !important; }
.width-70 { width: 70px; }
.line-height-1-8 { line-height: 1.8; }

.width-150 {
  width: 150px;

  &.subber {
    width: 200px;
  }
}

.spacer, .spacer-alt {
  padding: 0px !important;
  height: 2px;

  .gallery-icon-editor & {
    height: 12px;
  }
}

.centered { text-align: center !important; }
.left-align { text-align: left; }
.right-align { text-align: right; }
.hidden { display: none; }
.float-left { float: left; }
.float-right { float: right; }
.float-none { float: none !important; }
.clear { clear: both; }
.pointer { cursor: pointer; }
.vtop { vertical-align: top; }
.vmid { vertical-align: middle; }
.bold { font-weight: bold; }
.auto { overflow: auto; }
.semiopaque { opacity: 0.5; }
.semiplusopaque { opacity: 0.6; }

/* For UI elements involving reordering */
.disabled-arrow {
  filter: $filter_disabled; /* IE */
  filter: grayscale(1); /* Edge, Firefox */
  -webkit-filter: grayscale(1); /* Chrome, Safari, Opera */
}

/* With appropriate <a> tags to look like links */
a.disabled-arrow {
  cursor: default;
}

/* Displaying forum threads */
.even, .odd, .post-post, .post-reply, .profile, #post-editor { padding: 5px; }

/* UI Links */
.link-box {
  display: inline-block;
  font-size: $font_size_large;
  line-height: 1.25rem;
  margin: 0;
  margin-left: 5px;
  background-image: none;
  border: 0;
  padding: 4px 12px;
  border-radius: 5px;
  font-weight: normal;
  height: 28px;
  vertical-align: middle;
  img { vertical-align: baseline; }
}

/* Inline lists */
.inline-list {
  display: inline;
  padding-left: 0;
}

.inline-list li {
  display: inline;
  list-style-type: none;
  margin-right: 4px;
}

/* Bootstrap tweaks */
.view-button img, #swap-alias, #swap-character, #header img { vertical-align: baseline; }

span.badge {
  position: relative;
  bottom: 1px;
  border: 0.5px solid;
  margin: 2px;
}

.narrow-select > select { width: 95px; }
