@import 'variables';

body, html { height: 100%; }

body {
  margin: 0 0 0 0;
  background-color: $bg_color_page;
  color: $font_color_page;
  font-family: Helvetica, Verdana, sans-serif;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

/* Links */
a {
  text-decoration: none;
  color: $font_color_link;
  &:visited { color: $font_color_link_visited; }

  &:hover {
    text-decoration: none;
    color: $font_color_link_hover;
  }
}

/* Inputs */
input, textarea, button {
  margin: 5px 0;
  border: 1px solid $border_color_input;
  border-radius: 5px;
  background-color: $bg_color_input;
  padding: 0 8px;
  height: 25px;
  color: $font_color_input;
  font-size: $font_size_smallerish;
}

input[type='checkbox'] { height: 23px; }
textarea { padding: 5px; }
.form-table td input[type='radio'] { width: unset; }

button, .button {
  border-color: $border_color_button;
  background-color: $bg_color_button;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #FFFFFF), color-stop(50%, #F6F6F6), color-stop(52%, #EEEEEE), color-stop(100%, #F4F4F4));
  background: -webkit-linear-gradient(to bottom, #FFFFFF 20%, #F6F6F6 50%, #EEEEEE 52%, #F4F4F4 100%);
  background: -moz-linear-gradient(to bottom, #FFFFFF 20%, #F6F6F6 50%, #EEEEEE 52%, #F4F4F4 100%);
  background: -o-linear-gradient(to bottom, #FFFFFF 20%, #F6F6F6 50%, #EEEEEE 52%, #F4F4F4 100%);
  background: linear-gradient(to bottom, #FFFFFF 20%, #F6F6F6 50%, #EEEEEE 52%, #F4F4F4 100%);
  background-clip: padding-box;
  height: 25px;
  line-height: normal;
}

/* Display Helpers */
.no-margin { margin: 0; }
.noheight { font-size: 0; }
.margin-10 { margin: 10px; }
.padding-5 { padding: 5px 10px; }
.padding-10 { padding: 10px; }
.padding-15 { padding: 15px; }
.padding-left-5 { padding-left: 5px; }
.padding-right-10 { padding-right: 10px; }
.width-15 { width: 15px !important; }
.width-70 { width: 70px; }

.width-150 {
  width: 150px;

  &.subber {
    width: 200px;
  }
}

.spacer {
  padding: 0 !important;
  height: 2px;

  .gallery-icon-editor & {
    height: 12px;
  }
}

.spacer-alt {
  @extend .spacer;
  background-color: $bg_color_spacer_alt;
}

.centered { text-align: center !important; }
.left-align { text-align: left; }
.right-align { text-align: right; }
.hidden { display: none; }
.float-left { float: left; }
.float-right { float: right; }
.float-none { float: none !important; }
.clear { clear: both; }
.pointer { cursor: pointer; }
.vtop { vertical-align: top; }
.vmid { vertical-align: middle; }
.bold { font-weight: bold; }
.auto { overflow: auto; }
.semiopaque { opacity: 0.5; }
.semiplusopaque { opacity: 0.6; }

/* For UI elements involving reordering */
.disabled-arrow {
  -webkit-filter: grayscale(1); /* Chrome, Safari, Opera */
  filter: #808080; /* IE */
  filter: grayscale(1); /* Edge, Firefox */
}

/* Displaying forum threads */
.even, .odd, .post-post, .post-reply, #post-editor {
  padding: 5px;
}

.even, .post-post, .post-reply:nth-child(even), #post-editor {
  background-color: $bg_color_even;
}

.odd, .post-reply:nth-child(odd), .post-post + #post-editor, .post-post + a + #post-editor {
  background-color: $bg_color_odd;
}

/* UI Links */
.link-box {
  display: inline-block;
  margin: 0;
  margin-left: 5px;
  border: 0;
  border-radius: 5px;
  background-image: none;
  padding: 4px 12px;
  height: 28px;
  vertical-align: middle;
  line-height: 1.25rem;
  color: #FFFFFF;
  font-size: $font_size_large;
  font-weight: normal;
  img { vertical-align: baseline; }
  &.action-new { background-color: $bg_color_linkbox_new; }
  &.action-delete { background-color: $bg_color_linkbox_delete; }
  &.action-edit { background-color: $bg_color_linkbox_edit;}
  &.action-favorite { background-color: $bg_color_linkbox_favorite; }
  &.action-dismiss { background-color: $bg_color_linkbox_dismiss; }
}

/* Inline lists */
.inline-list {
  display: inline;
  padding-left: 0;

  li {
    display: inline;
    margin-right: 4px;
    list-style-type: none;
  }
}

/* Bootstrap tweaks */
.view-button img, #swap-alias, #swap-character, #header img { vertical-align: baseline; }

span.badge {
  position: relative;
  bottom: 1px;
  margin: 2px;
  border: 0.5px solid $border_color_badge;
  background-color: $bg_color_badge;
  text-shadow: 0 0 2px $shadow_color_badge, 0 0 2px $shadow_color_badge;
  color: $font_color_badge;
}
