@import 'variables';

body, html { height: 100%; }
body {
    margin: 0 0 0 0;
    font-family: Helvetica, Verdana, sans-serif;
    background-color: $bg_color_page;
    color: $font_color_page;
}

/* Links */
a {
  text-decoration: none;
  color: $font_color_link;
  &:visited { color: $font_color_link_visited; }
  &:hover { color: $font_color_link_hover; }
}

/* Inputs */
input, textarea, button {
  font-size: $font_size_smallerish;
  height: 23px;
  border-radius: 5px;
  background-color: $bg_color_input;
  color: $font_color_input;
  padding: 0 8px;
  border: 1px solid $border_color_input;
  margin: 5px 0;
}
textarea { padding: 5px; }
.form-table td input[type="radio"] { width: unset; }
button, .button {
  background-color: $bg_color_button;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #FFFFFF), color-stop(50%, #F6F6F6), color-stop(52%, #EEEEEE), color-stop(100%, #F4F4F4));
  background: -webkit-linear-gradient(top, #FFFFFF 20%, #F6F6F6 50%, #EEEEEE 52%, #F4F4F4 100%);
  background: -moz-linear-gradient(top, #FFFFFF 20%, #F6F6F6 50%, #EEEEEE 52%, #F4F4F4 100%);
  background: -o-linear-gradient(top, #FFFFFF 20%, #F6F6F6 50%, #EEEEEE 52%, #F4F4F4 100%);
  background: linear-gradient(top, #FFFFFF 20%, #F6F6F6 50%, #EEEEEE 52%, #F4F4F4 100%);
  background-clip: padding-box;
  border-color: $border_color_button;
  height: 25px;
}

/* Display Helpers */
.no-margin { margin: 0; }
.noheight { font-size: 0; }
.margin-5 { margin: 5px; }
.margin-10 { margin: 10px; }
.padding-5 { padding: 5px 10px; }
.padding-10 { padding: 10px; }
.padding-15 { padding: 15px; }
.padding-left-5 { padding-left: 5px; }
.padding-right-10 { padding-right: 10px; }
.width-15 { width: 15px !important; }
.width-70 { width: 70px; }
.width-150 { width: 150px; }
.width-250 { width: 250px; }
.width-300 { width: 300px; }
.spacer, .spacer-alt { height: 2px; padding: 0; }
.spacer-alt { background-color: $bg_color_spacer_alt; }
.centered { text-align: center !important; }
.left-align { text-align: left; }
.right-align { text-align: right; }
.hidden { display: none; }
.float-left { float: left; }
.float-right { float: right; }
.float-none { float: none !important; }
.clear { clear: both; }
.pointer { cursor: pointer; }
.vtop { vertical-align: top; }
.vmid { vertical-align: middle; }
.bold { font-weight: bold; }
.auto { overflow: auto; }
.semiopaque { opacity: 0.5; }
.semiplusopaque { opacity: 0.6; }

/* For UI elements involving reordering */
.disabled-arrow {
  filter: gray; /* IE */
  -webkit-filter: grayscale(1); /* Chrome, Safari, Opera */
  filter: grayscale(1); /* Edge, Firefox */
}

/* Displaying forum threads */
.even, .odd, .post-post, .post-reply, #post-editor {
  padding: 5px;
}
.even, .post-post, .post-reply:nth-child(even), #post-editor {
  background-color: $bg_color_even;
}
.odd, .post-reply:nth-child(odd), .post-post + #post-editor, .post-post + a + #post-editor {
  background-color: $bg_color_odd;
}

/* UI Links */
.link-box {
  display: inline-block;
  font-size: $font_size_large;
  margin: 0;
  margin-left: 5px;
  background-image: none;
  border: 0;
  color: white;
  padding: 4px 12px;
  border-radius: 5px;
  font-weight: normal;
  height: 20px;
  vertical-align: middle;

  img { vertical-align: baseline; }
}
.link-box.action-new { background-color: $bg_color_linkbox_new; }
.link-box.action-delete { background-color: $bg_color_linkbox_delete; }
.link-box.action-edit { background-color: $bg_color_linkbox_edit;}
.link-box.orange { background-color: #EA8A40;} // TODO: This does not appear to be used anywhere
.link-box.action-favorite { background-color: $bg_color_linkbox_favorite; }
.link-box.action-dismiss { background-color: $bg_color_linkbox_dismiss; }
#post-form-wrapper { margin-top: 5px; }

/* Inline lists */
.inline-list { display: inline; padding-left: 0; }
.inline-list li { display: inline; list-style-type: none; margin-right: 4px; }
