#content table#icon-table { width: 600px; margin: 0px; text-align: center; }
#content table#icon-table td { padding: 5px; }
#content table#icon-table td.icon-buttons { width: 40px; padding: 0px; }
#content table#icon-table td.icon-buttons img { display: inline-block; }
