@use 'variables' as *;

/* Header Menus */
#header {
  background-color: $bg_color_header_bottom;
  color: $font_color_header_link;
  font-size: $font_size_header;
  vertical-align: middle;
  overflow: hidden;

  ul {
    display: inline;
    margin: 0 0.5em 0 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 0 0 1em;
    padding: 0;
    white-space: nowrap;
  }

  a { color: $font_color_header_link; }
  a:hover { color: $font_color_header_link_hover; }
}

#logo {
  background-color: $bg_color_header_top;
  padding: 0.5em;
  overflow: hidden; /* so it contains the floating image */

  img {
    float: right;
    padding: 0.5em 0.5em 0.3em 0;
  }
}

#user-info {
  float: left;
  padding: 0.5em;
  background-color: $bg_color_header_middle;
  font-weight: bold;
  text-align: center;
  line-height: normal;

  .no-img, img {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 5px;
    padding: 0;
  }
}

#nav-top {
  padding: 0.5em 1em 0.5em 0.5em;
  background-color: $bg_color_header_middle;
  font-weight: bold;

  button, .button {
    margin-right: 10px;
    color: $font_color_button;
    font-size: $font_size_smallerish;
    font-weight: bold; /* not redundant: used for login form */
  }

  input {
    vertical-align: middle; /* for login form */
  }
}

#header-logout { margin-left: 1em; }

#header-form {
  font-weight: normal;
  display: inline;
  input { margin: 2px 0; }
  #header-remember, #header-forms { margin-right: 10px; }
}

#header-forms, #header-remember, #header-buttons, #header-buttons-links { display: inline; }
#header-buttons-links { vertical-align: middle; }
#header-buttons-links, #header-remember { white-space: nowrap; }
#header-buttons-links a { font-weight: bold; }

#nav-bottom {
  padding: 0.6em 0;
  vertical-align: middle;
  line-height: normal;

  .badge {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#header-links {
  display: none; /* hidden by default, shows up on narrow screens */
  vertical-align: middle;
  font-size: $font_size_small;
  height: 20px;
  a { font-weight: bold; }
}

@media (max-width: 400px) {
  #user-info {
    img, .no-img { display: none; }
  }

  #header-form { display: none; }
  #header-links { display: inline-block; }

  #logo img {
    padding: 0.2em;
    height: 20px;
  }
}

/* Main Content */
#holder {
  min-height: 100%;
  position: relative;

  #content {
    width: 100%;
  }
}

@media (max-width: 600px) {
  #holder {
    display: inline-block;

    #content {
      display: inline-grid;
    }
  }
}

.profile-table-cell { max-width: 0; }
.profile-table-cell .padding-10 { overflow-x: auto; }
@media (max-width: 600px) {
  .recent-posts { width: 100% !important; }
}

#content, #tos {
  padding: 20px;
  font-size: $font_size_main;
  line-height: 1.25em;
  text-align: left;
  position: relative;
  padding-bottom: 35px;
}

#content h1 { line-height: normal; }

@media (max-width: 600px) {
  #content, #tos {
    padding: 10px;
    padding-bottom: 35px;
  }
}

@media (max-width: 500px) {
  #content, #tos {
    padding: 5px;
    padding-bottom: 35px;
  }
}

/* Flash Displays */
.flash {
  padding: 10px 20px;
  line-height: normal;
}

.flash-margin {
  padding: 4px 0;
}

.flash ul {
  margin: 0;
  margin-top: 5px;
}

.flash.error { background-color: $bg_color_flash_error; }
.flash.success { background-color: $bg_color_flash_success; }
.flash.breadcrumbs { background-color: $bg_color_flash_breadcrumbs; }

/* Top-right timestamp on certain timestamped pages */
.time-loaded {
  font-size: $font_size_mini;
  position: absolute;
  top: 2px;
  right: 20px;
}

/* Login / logout warning */
#login_status_warning {
  position: absolute;
  top: 0;
  width: 100%;
}

/* List Tables */
table { width: 100%; }

.table-list { /* table-style ULs */
  list-style: none;
  padding: 0;
  margin: 0;
}

.table-title, .content-header, .search-results-header {
  background-color: $bg_color_head;
  color: $font_color_head;
  padding: 15px;
  font-size: $font_size_large;
  font-weight: normal;
}

.info-box-header, .editor-title {
  @extend .table-title;
  text-align: center;
}

.search-params-header {
  @extend .table-title;
  width: 150px;
}

.gallery-table-title {
  @extend .table-title;
  &, &.subber { padding: 10px; }
}

.content-header {
  width: 100%;
  overflow: hidden;

  span {
    line-height: 28px;

    a {
      color: $font_color_head_link;
      &:hover { color: $font_color_head_link_hover; }
    }
  }

  & > div { overflow: hidden; }
}

td, .table-list li { font-size: $font_size_small; }

.post-section { display: none; }
@media (max-width: 600px) {
  .post-section {
    display: inline;
    font-size: $font_size_mini;
    line-height: $font_size_mini;
  }
}

/* Subs and subbers */
.sub {
  padding: 10px;
  background-color: $bg_color_sub;
  color: $font_color_sub;
  font-size: $font_size_main;
  font-weight: normal;
  &.width-150 { width: 170px; }
}

.subber {
  padding: 10px 25px;
  background-color: $bg_color_subber;
  color: $font_color_subber;
  font-size: $font_size_smallish;
  font-weight: bold;
  input { margin: 0; }
  .link-box { font-size: $font_size_smallish; }
}

.check-all-box {
  /* The .sub or .subber that has the "check all" checkbox */
  width: 30px;
  padding: 0px 10px 0px 5px;

  /* Keeps unread table from padding excessively for the checkboxes */
  input.checkbox {
    height: 13px;
    margin: 0px;
    vertical-align: middle;
  }
}

/* Form Tables */
.form-table {
  width: 400px;
  margin: 0;
  border-spacing: 0;
  display: grid;
  grid-template-columns: auto auto;
  font-size: $font_size_small;

  div, span { display: inherit } // inherit grids through form table

  & > div {
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    justify-content: center;
    grid-auto-flow: column;
    button[disabled], input[disabled] { background-color: $bg_color_input_disabled; }

    .select2-container {
      display: inline-block;
      input { margin-top: 5px; }
    }

    input {
      margin: 0;
      width: 100%;
      &[type='submit'], &[type='radio'] { width: unset; }

      &[type='checkbox'] {
        margin: 0 1px;
        height: 18px;
        width: 18px;
      }
    }

    &.sub, & > .sub {
      padding: 10px;
      text-align: center;
      &.vtop { align-items: start; }
    }

    & > div {
      padding: 5px;
      align-items: center;
      &:not(.sub) { justify-items: start; }
    }
  }

  .checkbox-field, .checkbox-fields {
    justify-content: start;
    grid-template-columns: 20px auto;
    column-gap: 4px;
  }

  .checkbox-fields {
    align-items: start;
    & > input[type='checkbox'] { margin-top: 2px; }
  }

  .radio-fields {
    grid-template-columns: 14px auto;
    column-gap: 4px;
  }

  textarea {
    height: 10em;
    width: 100%;
  }

  &#contribute { grid-template-columns: none; }
  .subber, .table-title, .editor-title, .form-table-ender { grid-template-columns: none; }
  .colspan { grid-template-columns: none; }

  &#section-editor { grid-template-columns: minmax(min-content, 131px) auto; }
  &#alias-editor { grid-template-columns: minmax(min-content, 94px) auto; }
  &#password-reset { grid-template-columns: minmax(min-content, 126px) auto; }
  &#change-password { grid-template-columns: minmax(min-content, 110px) auto; }
  &#index-editor, &#index-section-editor { grid-template-columns: minmax(min-content, 131px) auto; }
  &#index-post-editor { grid-template-columns: minmax(min-content, 148px) auto; }
  &#post-splitter { grid-template-columns: minmax(min-content, 111px) auto; }

  &#tag-editor .checkbox-field { grid-template-columns: 17px auto; }

  &#user-editor {
    .checkbox-field, .checkbox-fields { grid-template-columns: 17px auto; }

    input[type='checkbox'] {
      width: 15px;
      height: 15px;
    }
  }

  &#signup {
    grid-template-columns: minmax(min-content, 94px) auto;
    #signup-terms #tos { display: block; } // overriding the other #tos being hidden

    .user-alert {
      margin: 7px 0 2px 0;
      grid-template-columns: 16px auto;
      gap: 4px;
      justify-content: center;
      align-items: center;
      &.hidden { display: none; }
    }

    #signup-secret > div:not(.sub), #signup-terms > div:not(.sub) {
      grid-template-columns: auto;
    }
  }

  &#mark-continuities {
    margin-bottom: 10px;
    float: left;

    & > .even, & > .odd {
      grid-template-columns: 390px;
      text-align: center;
    }
  }
}

.form-table-ender {
  padding: 10px 25px;
  background-color: $bg_color_subber;
  color: $font_color_subber;
  font-size: $font_size_smallish;
  font-weight: bold;
  text-align: center;
  column-gap: 4px;
  input { margin: 0; }
}

@media (max-width: 400px) {
  .form-table { width: 100%; }
}

/* Miscellaneous inputs */
.select2 {
  &-container {
    margin: 3px 0;
    color: $font_color_select2_container;
  }

  &-container--default .select2-results > .select2-results__options {
    // slightly increase height to show cut-off results (for platforms without clear scrollbars)
    max-height: 220px;
  }

  &, &-dropdown { font-size: $font_size_smallerish; }

  input {
    height: 20px;
    margin: 0;
  }

  ul { padding: 0; }
}

/* Buttons like List View or Outbox View in top right of page */
.view-button-link {
  // applied to <a> objects wrapping .view-buttons to fix their size on the page
  float: right;
}

.view-button {
  float: right;
  margin: 0;
  margin-left: 5px;
  padding: 4px 12px;
  background-image: none;
  background-color: $bg_color_viewbutton;
  color: $font_color_viewbutton;
  font-size: $font_size_large;
  line-height: 1.3em;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  height: 29px;
  &.selected { background-color: $bg_color_viewbutton_selected; }
  a { color: $font_color_viewbutton; }
}

.list-view, .icon-view {
  display: inline;
  margin: 0;
  padding: 0;
  top: 2px;
  position: relative;
}

.list-view {
  width: 20px;
  height: 17px;
}

.icon-view {
  width: 15px;
  height: 15px;
}

/* Tag label buttons, like seen on the gallery page */
.tag-box {
  display: inline;
  margin-left: 5px;
}

.tag-item-link:hover {
  color: unset;
}

.tag-item {
  display: inline-block;
  margin: 2px 0;
  padding: 2px 8px;
  background-color: $bg_color_tag_item;
  color: $font_color_tag_item;
  font-size: 90%;
  font-weight: normal;
  border-radius: 5px;
}

.even .tag-item { background-color: $bg_color_tag_item_even; }
.odd .tag-item { background-color: $bg_color_tag_item_odd; }
tr.gallery-tags .tag-item { color: $font_color_tag_item_gallery; }

/* The new object layout with the floating left info box and the right content area */
.left-info-box {
  float: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  table-layout: fixed;
}

.right-content-box { float: left; }
.user-info-box { width: 200px; }
.icon-info-box { width: 150px; }
.character-info-box { width: 175px; }
.tag-info-box { width: 200px; }
.user-right-content-box { width: calc(100% - 200px); }
.icon-right-content-box { width: calc(100% - 150px); }
.character-right-content-box { width: calc(100% - 175px); }
.tag-right-content-box { width: calc(100% - 200px); }
#user-avatar { text-align: center; }

/* Not yet deserving of its own CSS file */
#stats ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
}

.continuity-spacer { height: 20px; }
.post-ignored { opacity: 0.3; }

.loading img {
  height: 20px;
  width: 20px;
}

.section-warning {
  background-color: $bg_color_section_warning;
  background-color: rgba($bg_color_section_warning_alpha, 0.4);
  padding: 5px;
}

.section-ordered-handle {
  cursor: move;
  display: inline-block;

  img { vertical-align: text-bottom; }
}

.continuity-header {
  padding: 10px 25px;
  font-size: $font_size_smallish;
  font-weight: bold;
}

#homepage-content {
  padding: 20px;
}

/* Search Input */
.search-box {
  width: 320px;
  padding: 10px;
  vertical-align: top;
  background-color: $bg_color_search_box;
  color: $font_color_search_box;
}

.search-icon-preview { vertical-align: middle; }
.search-icon-keyword { padding-left: 5px; }

/* Collapsible tables on search pages for mobile view */
@media (max-width: 600px) {
  .search-collapsible {
    .empty { display: none; }

    > thead > tr > th, > tbody > tr > td, > tfoot > tr > th {
      display: block;
      width: 100%;
    }
  }
}

.user-moiety { font-size: 80%; }

#footer {
  font-size: $font_size_small;
  background-color: $bg_color_header_middle;
  color: $font_color_header_link;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  a { color: $font_color_header_link; }
  a:hover { color: $font_color_header_link_hover; }

  div {
    padding: 5px;
    padding-left: 20px;
  }
}

/*
Styles for the user output page to handle copy/pasting text
The copy box can't be invisible/hidden or copy fails but opacity works
*/
#select-output {
  margin: 0px;
  font-weight: bold;
  height: 20px;
}

#_hiddenCopyText_ { // stylelint-disable-line selector-id-pattern
  height: 0px;
  width: 0px;
  opacity: 0;
  padding: 0px;
  margin: 0px;
}

#tag-search-name {
  margin: 0px 5px;
  width: 210px;
}

#tag-search { margin-left: 5px; }

#remember-link {
  font-size: $font_size_smaller;
  text-align: right;
}

#content {
  .tox-editor-header {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .tox-toolbar, .tox-toolbar__overflow, .tox-toolbar__primary {
    background-image: none;
    background-color: $bg_color_mce_panel;
    border-bottom: 1px solid $border_color_mce_panel;
    padding: 2px 0;
  }

  .tox-tbtn {
    height: 30px;
    width: 30px;
  }

  .tox-split-button, .tox-tbtn {
    margin-top: 0;
    margin-bottom: 0;
  }

  .tox-split-button:hover {
    box-shadow: none;
  }

  .tox-split-button:focus, .tox-tbtn--enabled:hover {
    background: unset;
  }

  .tox-toolbar__group {
    padding: 0 4px 0 4px;
    border-color: $border_color_mce_panel;
  }

  .tox-tinymce {
    border-radius: 0;
    border-width: 1px;
    border-color: $border_color_mce_panel;

    &--toolbar-sticky-on .tox-editor-header {
      // visual indicator that the sticky toolbar is covering content
      box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 10px;
    }
  }
}

#news-table {
  width: 100%;
  grid-template-columns: minmax(min-content, 150px) auto;

  textarea { height: 400px; }
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

#tos { display: none; }

#tos_form .form-table {
  grid-template-columns: none;
  .editor-title { place-items: center; }
  #terms div {
    display: inline;
    padding: 15px;
  }
}

.edit_password_reset .form-table {
  grid-template-columns: minmax(min-content, 108px) auto;
}
