@import 'variables';

/* Header Menus */
#header {
  background-color: $bg_color_header_bottom;
  overflow: hidden;
  vertical-align: middle;
  color: $font_color_header_link;
  font-size: $font_size_header;

  ul {
    display: inline;
    margin: 0 0.5em 0 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 0 0 1em;
    padding: 0;
    white-space: nowrap;
  }

  a {
    color: $font_color_header_link;
    &:hover { color: $font_color_header_link_hover; }
  }
}

#logo {
  background-color: $bg_color_header_top;
  padding: 0.5em;
  overflow: hidden; /* so it contains the floating image */

  img {
    float: right;
    padding: 0.5em 0.5em 0.3em 0;
  }
}

#user-info {
  float: left;
  background-color: $bg_color_header_middle;
  padding: 0.5em;
  text-align: center;
  line-height: normal;
  font-weight: bold;

  .no-img, img {
    display: inline-block;
    margin: 5px;
    padding: 0;
    width: 100px;
    height: 100px;
  }
}

#nav-top {
  background-color: $bg_color_header_middle;
  padding: 0.5em 1em 0.5em 0.5em;
  font-weight: bold;

  button, .button {
    margin-right: 10px;
    color: $font_color_button;
    font-size: $font_size_smallerish;
    font-weight: bold; /* not redundant: used for login form */
  }

  input {
    vertical-align: middle; /* for login form */
  }
}

#header-logout { margin-left: 1em; }

#header-form {
  display: inline;
  font-weight: normal;
  input { margin: 2px 0; }
  #header-remember, #header-forms { margin-right: 10px; }
}

#header-forms, #header-remember, #header-buttons, #header-buttons-links { display: inline; }
#header-buttons-links, #header-remember { white-space: nowrap; }
#header-buttons-links a { font-weight: bold; }

#nav-bottom {
  padding: 0.6em 0;
  vertical-align: middle;
  line-height: normal;
}

#header-links {
  display: none; /* hidden by default, shows up on narrow screens */
  height: 20px;
  vertical-align: middle;
  font-size: $font_size_small;
  a { font-weight: bold; }
}

@media (max-width: 400px) {
  #user-info {
    img, .no-img { display: none; }
  }

  #header-form { display: none; }
  #header-links { display: inline-block; }

  #logo img {
    padding: 0.2em;
    height: 20px;
  }
}

/* Main Content */
#holder {
  position: relative;
  min-height: 100%;
}

#content, #tos {
  position: relative;
  padding: 20px;
  text-align: left;
  line-height: 1.25em;
  font-size: $font_size_main;
}

#content h1 { line-height: normal; }

@media (max-width: 600px) {
  #content, #tos {
    padding: 10px;
    padding-bottom: 35px;
  }
}

@media (max-width: 500px) {
  #content, #tos {
    padding: 5px;
    padding-bottom: 35px;
  }
}

/* Flash Displays */
.flash {
  padding: 10px 20px;
  line-height: normal;

  ul {
    margin: 0;
    margin-top: 5px;
  }

  &.error { background-color: $bg_color_flash_error; }
  &.success { background-color: $bg_color_flash_success; }
  &.inbox { background-color: $bg_color_flash_inbox; }
  &.breadcrumbs { background-color: $bg_color_flash_breadcrumbs; }
}

/* Top-right timestamp on certain timestamped pages */
.time-loaded {
  position: absolute;
  top: 2px;
  right: 20px;
  font-size: $font_size_mini;
}

/* Login / logout warning */
#login_status_warning {
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

/* List Tables */
table { width: 100%; }

.table-list { /* table-style ULs */
  margin: 0;
  padding: 0;
  list-style: none;
}

th, .content-header {
  background-color: $bg_color_head;
  padding: 15px;
  color: $font_color_head;
  font-size: $font_size_large;
  font-weight: normal;
}

.content-header {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;

  span {
    line-height: 28px;

    a {
      color: $font_color_head_link;
      &:hover { color: $font_color_head_link_hover; }
    }
  }

  & > div { overflow: hidden; }
}

td, .table-list li { font-size: $font_size_small; }

/* Subs and subbers */
.sub {
  background-color: $bg_color_sub;
  padding: 10px;
  color: $font_color_sub;
  font-size: $font_size_main;

  &.width-150 { width: 170px; }
}

.subber {
  background-color: $bg_color_subber;
  padding: 10px 25px;
  color: $font_color_subber;
  font-size: $font_size_smallish;
  font-weight: bold;
  input { margin: 0; }
  .link-box { font-size: $font_size_smallish; }
}

/* Form Tables */
.form-table {
  margin: 0;
  width: 400px;
  border-spacing: 0;

  th { text-align: center; }

  td {
    padding: 5px;

    input {
      margin: 0;
      width: 100%;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */

      &[type='checkbox'] {
        margin: 0 1px;
        width: 18px;
        height: 18px;
        vertical-align: middle;
      }
    }
  }

  textarea {
    width: 100%;
    height: 10em;
    box-sizing: border-box;
  }

  .select2-container input { margin-top: 5px; }
}

.form-table-ender {
  background-color: $bg_color_subber;
  padding: 10px 25px;
  text-align: center;
  color: $font_color_subber;
  font-size: $font_size_smallish;
  font-weight: bold;

  input { margin: 0; }
}

@media (max-width: 400px) {
  .form-table { width: 100%; }
}

/* Miscellaneous inputs */
.select2 {
  &-container {
    margin: 3px 0;
    color: $font_color_select2_container;
  }

  &, &-dropdown { font-size: $font_size_smallerish; }

  input {
    margin: 0;
    height: 20px;
  }

  ul { padding: 0; }
}

/* Buttons like List View or Outbox View in top right of page */
.view-button {
  display: inline-block;
  float: right;
  margin: 0;
  margin-left: 5px;
  border: 0;
  border-radius: 5px;
  background-color: $bg_color_viewbutton;
  background-image: none;
  cursor: pointer;
  padding: 4px 12px;
  height: 29px;
  line-height: 1.3em;
  color: $font_color_viewbutton;
  font-size: $font_size_large;

  &.selected { background-color: $bg_color_viewbutton_selected; }

  a { color: $font_color_viewbutton; }
}

.list-view, .icon-view {
  display: inline;
  position: relative;
  top: 2px;
  margin: 0;
  padding: 0;
}

.list-view {
  width: 20px;
  height: 17px;
}

.icon-view {
  width: 15px;
  height: 15px;
}

/* Tag label buttons, like seen on the gallery page */
.tag-box {
  display: inline;
  margin-left: 5px;
}

.tag-item-link:hover {
  color: unset;
}

.tag-item {
  display: inline-block;
  margin: 2px 0;
  border-radius: 5px;
  background-color: $bg_color_tag_item;
  padding: 2px 8px;
  color: $font_color_tag_item;
  font-size: 90%;
  font-weight: normal;
}

.even .tag-item { background-color: $bg_color_tag_item_even; }
.odd .tag-item { background-color: $bg_color_tag_item_odd; }
// tr.gallery-tags .tag-item { color: $font_color_tag_item_gallery; }
// This is presently inherited from .tag-item in non-starry themes, and thus adding this to the base file overrides font color styling there.

/* The new object layout with the floating left info box and the right content area */
.left-info-box {
  float: left;
  table-layout: fixed;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.right-content-box { float: left; }
.user-info-box { width: 200px; }
.icon-info-box { width: 150px; }
.character-info-box { width: 175px; }
.tag-info-box { width: 200px; }
.user-right-content-box { width: calc(100% - 200px); }
.icon-right-content-box { width: calc(100% - 150px); }
.character-right-content-box { width: calc(100% - 175px); }
.tag-right-content-box { width: calc(100% - 200px); }
#user-avatar { text-align: center; }

/* Not yet deserving of its own CSS file */
#stats ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
}

#signup {
  .sub { width: 90px; }
  .user-alert { margin: 7px 0 2px 0; }
  .msg { vertical-align: middle; }
  #terms td { padding: 15px; }
}

.continuity-spacer { height: 20px; }
.post-ignored { opacity: 0.3; }

#loading img {
  width: 20px;
  height: 20px;
}

.section-warning {
  background-color: $bg_color_section_warning;
  background-color: $bg_color_section_warning_alpha;
  padding: 5px;
}

.section-ordered-handle {
  display: inline-block;
  cursor: move;

  img { vertical-align: text-bottom; }
}

.continuity-header {
  padding: 10px 25px;
  font-size: $font_size_smallish;
  font-weight: bold;
}

#homepage-content {
  padding: 20px;
}

/* Search Input */
.search-box {
  background-color: $bg_color_search_box;
  padding: 10px;
  width: 320px;
  vertical-align: top;
  color: $font_color_search_box;
}

.search-icon-preview { vertical-align: middle; }
.search-icon-keyword { padding-left: 5px; }

/* Collapsible tables on search pages for mobile view */
@media (max-width: 600px) {
  .search-collapsible {
    .empty { display: none; }

    > thead > tr > th, > tbody > tr > td, > tfoot > tr > th {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.user-moiety { font-size: 80%; }

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $bg_color_header_middle;
  width: 100%;
  color: $font_color_header_link;
  font-size: $font_size_small;

  a { color: $font_color_header_link; }
  a:hover { color: $font_color_header_link_hover; }

  div {
    padding: 5px;
    padding-left: 20px;
  }
}

/*
Styles for the user output page to handle copy/pasting text
The copy box can't be invisible/hidden or copy fails but opacity works
*/

#select-output {
  margin: 0;
  height: 20px;
  font-weight: bold;
}

#_hiddenCopyText_ {
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}

#tag-search-name {
  margin: 0 5px;
  width: 210px;
}

#tag-search { margin-left: 5px; }
