#message_form tr#message-row { width: 75%; max-width: 900px; min-width: 300px; }
#message_form textarea { min-width: 200px; width: 100%; box-sizing: border-box; min-height: 250px; }
.message-collapse .message { margin-left: 10px; float: left; }
.message-collapse .author { float: left; width: 100px; padding-bottom: 10px; text-align: center; }
.message-collapse, .message-menu { cursor: pointer; }
.message-expand, .message-menu { min-height: 40px; }
.message-expand { z-index: 0; background-color: rgba(0,0,0,0.1); }
.message-menu { z-index: 1; padding: 10px 10px 10px 10px; box-sizing: border-box; }
.message-menu .text { width: 55%; text-align: right; margin-bottom: 5px; }
.message-expanded .post-icon { z-index: 2; }
.message-time { font-size: 80%; }
.message-collapse .message { max-width: 80%; }
.message-expanded .post-info-box { margin-top: 0; }

@media (max-width: 600px) {
  .message-menu { overflow: overlay; } /* to get it to redraw the boundaries */
  .message-menu .text { text-align: left; margin: 0 10px 0 10px; width: auto; }
}
