@import 'variables';

#message-row {
  width: 75%;
  min-width: 300px;
  max-width: 900px;
}

#message_form textarea {
  width: 100%;
  min-width: 200px;
  height: 100px;
  min-height: 250px;
  box-sizing: border-box;
}

.message-collapse {
  .message {
    float: left;
    margin-left: 10px;
    max-width: 80%;
  }

  .author {
    float: left;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    word-wrap: break-word;
  }
}
.message-collapse, .message-menu { cursor: pointer; }
.message-expand, .message-menu { min-height: 40px; }

.message-expand {
  z-index: 0;
  background-color: rgba($bg_color_message_expander, 0.1);
}

.message-menu {
  z-index: 1;
  padding: 10px;
  box-sizing: border-box;

  .text {
    margin-bottom: 5px;
    width: 55%;
    text-align: right;
  }
}

.message-expanded {
  .post-icon { z-index: 2; }

  .post-info-box {
    margin-top: 0;
    word-wrap: break-word;
  }
}
.message-time { font-size: 80%; }

@media (max-width: 600px) {
  .message-menu { overflow: overlay; } /* to get it to redraw the boundaries */

  .message-menu .text {
    margin: 0 10px;
    width: auto;
    text-align: left;
  }
}
