@import 'variables';

#message-row {
  width: 75%;
  max-width: 900px;
  min-width: 300px;
}

#message_form .form-table {
  width: 100%;
  grid-template-columns: 170px auto;

  .editor-title, .sub {
    grid-template-columns: none;
    justify-content: start;
  }

  input[type='text'] {
    margin: 5px 0;
    width: 195px;
  }

  textarea {
    min-width: 200px;
    height: 100px;
    width: 100%;
    min-height: 250px;
  }
}
.message-collapse {
  .message {
    margin-left: 10px;
    float: left;
    max-width: 80%;
  }

  .author {
    float: left;
    width: 100px;
    padding-bottom: 10px;
    text-align: center;
    word-wrap: break-word;
  }
}

.message-collapse, .message-menu { cursor: pointer; }
.message-expand, .message-menu { min-height: 40px; }

.message-expand { z-index: 0; }

.message-menu {
  z-index: 1;
  padding: 10px;

  .message-menu-text {
    width: 55%;
    text-align: right;
    margin-bottom: 5px;
  }
}

.message-expanded {
  .post-icon { z-index: 2; }

  .post-info-box {
    margin-top: 0;
    word-wrap: break-word;
  }
}

.message-time { font-size: 80%; }

@media (max-width: 600px) {
  .message-menu { overflow: overlay; } /* to get it to redraw the boundaries */

  .message-menu .message-menu-text {
    text-align: left;
    margin: 0 10px;
    width: auto;
  }
}

input#select_all {
  margin: 0;
  vertical-align: middle;
}

th#select-all-cell {
  padding: 0;
  width: 15px;
  text-align: center;
}
