/* Box displaying current icon */
#icon-overlay {
    background-color: #000000;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 15px;
    opacity: 0.4;
    display: none;
    cursor: pointer;
}
#current-icon-holder { position: relative; }
#current-icon-dropdown select { width: 100px; margin-bottom: 10px; }

/* Character selector */
#swap-icon, #swap-alias { width: 14px;  height: 14px; position: relative; top: 1px; cursor: pointer; }
#character-selector, #alias-selector {
    position: absolute;
    top: 0;
    left: 150px;
    padding:5px 20px 10px 20px;
    z-index: 2;
    min-width: 200px;
    display: none;
    text-align: left;
}
#character-selector h4, #alias-selector h4 { margin-bottom: 0; margin-top:0px; }

/* Icon selector */
#gallery { display: none; position: absolute; top: 10px; left: 160px; min-height: 101px; padding: 10px; margin: 0; z-index: 4; }
#gallery img { cursor: pointer; }
#gallery .gallery-icon {
    min-height: 130px;
    display: inline-block;
    text-align: center;
    line-height: 14px;
    margin-bottom: 10px;
    position: relative;
    width: 130px;
    word-wrap: break-word;
    display: inline-block;
}
#gallery .gallery-name {
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 10px;
}
@media (max-width: 700px) {
    #gallery { left: 0; }
}
.icon-holder .icon { margin: 0; }
.icon { position: relative; max-width: 100px; max-height: 100px; margin: 5px; }

/* Main post headers */
.post-header { width: 100%; background-color: #8B8687; color: #eeeeee; padding: 0; font-size: 18px; }
.post-header span a { color: #eeeeee; }
.post-header span a:hover { color: #dddddd; }
.post-header > div { overflow: hidden; }
.post-header span { line-height: 28px; }
.post-subheader { width: 100%; background-color: #a3a1a0; font-size: 15px; }
.post-subheader span { line-height: 14px; }
.post-navheader { width: 100%; background-color: #B9B6AD; font-size: 15px; }
.post-navheader span { line-height: 14px; }
.post-navheader .view-button { background-color: #a3a1a0; }
.post-expander { min-height: 5px; background-color: #B0BBA9; padding: 0; }
.post-expander .info { padding: 5px; text-align: center; font-size: 14px; cursor: pointer; }
.post-ender { min-height: 5px; padding: 5px; background-color: #3e384f; color: #FEFEFE; font-size: 16px; font-weight: bold; text-align: center; }

/* Written content */
/* - Blockquotes */
/* -- Color on even/odd background */
.even blockquote, .post-post blockquote, .post-reply:nth-child(even) blockquote { background-color: #D8D8D8; }
.odd blockquote, .post-reply:nth-child(odd) blockquote { background-color: #E3E3E3; }
.beige blockquote { background-color: rgba(128, 128, 128, 0.3); }
.post-content blockquote, .written-content blockquote, .message-content blockquote { margin: 0.5em 1.5em; padding: 0.5em; }
.post-content img, .written-content img, .message-content img { max-width: 100%; height: auto; }

/* - Paragraphs */
.post-content > p:first-child, .written-content > p:first-child, .message-content > p:first-child { margin-top: 0; }
.post-content > p:last-child, .written-content > p:last-child, .message-content > p:last-child { margin-bottom: 0; }
/* -- Inside blockquotes */
.post-content blockquote > p:first-child, .written-content blockquote > p:first-child, .message-content blockquote > p:first-child { margin-top: 0; }
.post-content blockquote > p:last-child, .written-content blockquote > p:last-child, .message-content blockquote > p:last-child { margin-bottom: 0; }

/* Post-specific content & editor */
#content > .post-container { padding: 0; overflow: auto; }
.post-edit-box { float: right; margin-left: 10px; margin-bottom: 5px; padding: 5px; }
.post-info-box {
  text-align: center;
  padding: 0;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 150px;
  overflow: visible;
  overflow-wrap: break-word;
}
.post-icon, #current-icon-dropdown { background-color: #B0BBA9; }
.post-icon { padding: 0; height: 120px; }
.post-icon img, .post-icon div { margin-top: 10px; margin-right: 10px; margin-left: 10px; }
.post-icon img { margin-bottom: 10px; vertical-align: middle; }
.post-character { background-color: #8B8687; padding: 4px; position: relative; }
.post-screenname { background-color: #a3a1a0; padding: 4px; overflow-wrap: break-word; word-wrap: break-word; }
.post-author { padding: 5px; background-color: #B9B6AD; position: relative; }
.post-footer { padding: 0; clear: both; }
.post-footer .right-align { width: 100%; font-size: 14px; }
select.per-page { margin-top: 5px; margin-bottom: 5px; }
#post-icon-filler { width: 100px; height: 100px; display: inline-block; background-color: #8B8687; }
#post_content, #reply_content { width: 100%; display: block; }
#reply_content { height: 130px; }
#post_content { height: 300px; }
#post-form-wrapper {
    margin-left: 160px;
    margin-right: 10px;
    background-image: url('/images/loading.gif');
    background-position: 50% 30%;
    background-size: 30px;
    background-repeat: no-repeat;
}
#post-editor { position: relative; }
.details { display: inline; font-size: 12px; font-style: italic; }

/* - Blockquotes around .post-info-box */
.post-content blockquote { margin-left: 5.5em; margin-right: 5.5em; }

/* - Lists around .post-info-box */
.post-content ul, .post-content ol { list-style-position: inside; padding-left: 30px; }
.post-content ul ul, .post-content ul ol, .post-content ol ul, .post-content ol ol { overflow: auto; }

/* - Character quick switcher - small icons for selecting characters in post-editor */
.char-access-icon {
  height: 30px;
  width: 30px;
  float: left;
  box-sizing: border-box;
}
div.char-access-icon {
  padding: 5px 0 5px 0;
  font-size: 80%;
  background-color: #aaa;
  background-color: rgba(128,128,128,0.3);
}

/* - Narrow window display */
@media (max-width: 600px) {
    .post-info-box { float: none; width: 100%; display: inline-block; }
    .post-icon { float: left; margin-right: 0; margin-bottom: 5px; }
    .post-info-text { float: left; margin-right: 10px; margin-bottom: 5px; }
    #post-form-wrapper { margin-left: 0; }
    #character-selector { left: 0; }
    .post-character { background-color: #B9B6AD; }
    .post-author { background-color: #8B8687; }
    .post-content blockquote { margin-left: 1.5em; margin-right: 1.5em; }
}

/* Pagination */
.pagination, #content .paginator.paginator-compact { font-size: 14px; }
.pagination { padding: 5px; display: inline-block; vertical-align: middle; }
.pagination .current { font-weight: bold; font-style: normal; background: #3f7055; }
.pagination a, .pagination .current, .pagination .disabled { display: inline-block; padding: 5px 10px; }
.pagination .disabled { color: #101010; text-align: left; }
.pagination a { color: #EEEEEE; }
.pagination a:hover { background-color: #a3a1a0; }
.pagination a:visited { color: #6b6567; }
#content .paginator.paginator-compact { padding: 0; border-bottom: solid 1px rgba(96,96,96,0.3); }
.paginator .left-align { vertical-align: middle; padding: 10px; }
.paginator.paginator-compact a, .paginator.paginator-compact .current, .paginator.paginator-compact .disabled { padding: 5px 7px; }
.paginator .left-align { float: left; display: inline-block; padding: 10px; }
.paginator .right-align { padding: 2px; padding-right: 10px; display: inline-block; float: right; }
.paginator .right-align a { color: black; }
.paginator { color: black; }
@media (max-width: 400px) {
  #content .sub.paginator { padding: 0; }
  .pagination a, .pagination .current, .pagination .disabled { padding: 5px; }
  .pagination .summary { padding-left: 5px; padding-right: 5px; }
}
.pagination .summary { padding-left: 10px; padding-right: 10px; }

/* Post dropdown menu */
#post-menu-holder { position: relative; }
#post-menu-box {
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: #8B8687;
    border-top: 1px solid #a3a1a0;
}
#post-menu-box div { padding: 10px 20px 10px 20px; border-bottom: 1px solid #a3a1a0; }
#post-menu-box a { color: #EEEEEE; }
#post-menu-box img { margin-right: 3px; vertical-align: middle; margin-bottom: 4px; }
#post-menu-box a:hover div { background-color: #B0BBA9; }

/* Handle post tables */
.post-completed { text-align: center; width: 40px; }

/* Unread marker on posts */
.unread-marker-container {
  position: relative;
}
.unread-marker {
  background-color: transparent;
  color: transparent !important;
  position: absolute;
  top: -5px;
  font-size: 70%;
}

.reply-highlighted { border: 1px red solid; }
