/* Box displaying current icon */
#icon-overlay { 
    background-color: #000000;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    opacity: 0.4;
    display: none;
}

#current-icon-holder { position: relative; }

/* Character selector */
#character-selector { position: absolute; top: 0px; left: 130px; padding:5px 20px 10px 20px; z-index: 2; min-width: 150px; display: none; }
#character-selector h4 { margin-bottom: 0px; margin-top:0px; }