@import 'variables';

/* Box displaying current icon */
#icon-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 15px;
  opacity: 0.4;
  background-color: $bg_color_icon_overlay;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

#current-icon-holder { position: relative; }

#current-icon-dropdown {
  color: $font_color_icon_selector;

  select {
    margin-bottom: 10px;
    width: 100px;
  }
}

/* Character selector */
.selector-popup-button {
  position: relative;
  top: 1px;
  cursor: pointer;
  width: 14px;
  height: 14px;
}

.selector-popup {
  display: none;
  position: absolute;
  top: 0;
  left: 150px;
  z-index: 2;
  background-color: $bg_color_selectionpopup;
  padding: 5px 20px 10px 20px;
  min-width: 200px;
  text-align: left;

  h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 90%;
  }
}

/* Icon selector */
#reply-icon-selector {
  display: none;
  position: absolute;
  top: 10px;
  left: 160px;
  z-index: 4;
  margin: 0;
  background-color: $bg_color_icon_selector;
  padding: 10px;
  min-height: 101px;

  img { cursor: pointer; }

  .gallery-icon {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    width: 130px;
    min-height: 130px;
    text-align: center;
    line-height: 14px;
    word-wrap: break-word;
  }

  .gallery-name {
    margin-bottom: 5px;
    margin-left: 10px;
    font-weight: bold;
  }
}

@media (max-width: 700px) {
  #reply-icon-selector { left: 0; }
}

.icon-holder .icon { margin: 0; }

.icon {
  position: relative;
  margin: 5px;
  max-width: 100px;
  max-height: 100px;
}

/* Main content headers */
.post-subheader, .post-navheader {
  font-size: $font_size_smallish;

  span { line-height: 14px; }
}

div.post-subheader { width: 100%; }

.post-subheader {
  background-color: $bg_color_post_description;
  padding: 10px;
  color: $font_color_post_description;
  box-sizing: border-box;
}

.post-navheader {
  background-color: $bg_color_navheader;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;

  .view-button { background-color: $bg_color_navbutton; }
}

.post-expander {
  background-color: $bg_color_expander;
  padding: 0;
  min-height: 5px;

  .info {
    cursor: pointer;
    padding: 5px;
    text-align: center;
    font-size: $font_size_small;
  }
}

.post-ender {
  background-color: $bg_color_ender_post;
  padding: 5px;
  min-height: 5px;
  text-align: center;
  color: $font_color_ender_post;
  font-size: $font_size_main;
  font-weight: bold;
}

/* Written content */
/* - Blockquotes */
/* -- Color on even/odd background */
.even, .post-post, .post-reply:nth-child(even) {
  blockquote { background-color: $bg_color_even_blockquote; }
}

.odd, .post-reply:nth-child(odd) {
  blockquote { background-color: $bg_color_odd_blockquote; }
}

.post-content, .written-content, .message-content {
  blockquote {
    margin: 0.5em 1.5em;
    padding: 0.5em;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  // in self and in nested blockquotes
  &, blockquote {
    // remove paragraph margins at boundaries
    & > p:first-child { margin-top: 0; }
    & > p:last-child { margin-bottom: 0; }
  }
}

/* Post-specific content & editor */
#content > .post-container {
  padding: 0;
  overflow: auto;
}

.post-edit-box {
  float: right;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 5px;
}

.post-info-box {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 0;
  width: 150px;
  overflow: visible;
  text-align: center;
  overflow-wrap: break-word;
}

.post-icon, #current-icon-dropdown { background-color: $bg_color_post_icon; }

.post-icon {
  padding: 0;
  height: 120px;

  img, div {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }

  img {
    margin-bottom: 10px;
    vertical-align: middle;
  }
}

.post-character {
  position: relative;
  background-color: $bg_color_post_character;
  padding: 4px;
  color: $font_color_post_info;
}

.post-screenname {
  background-color: $bg_color_post_screenname;
  padding: 4px;
  color: $font_color_post_screenname;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.post-author {
  position: relative;
  background-color: $bg_color_post_author;
  padding: 5px;
  color: $font_color_post_info;
}

.post-footer {
  clear: both;
  padding: 0;

  .right-align {
    width: 100%;
    font-size: $font_size_small;
  }
}

.per-page {
  margin-top: 5px;
  margin-bottom: 5px;
}

#post-icon-filler {
  display: inline-block;
  background-color: #8B8687;
  width: 100px;
  height: 100px;
}

#post_content, #reply_content {
  display: block;
  width: 100%;
}

#reply_content { height: 130px; }
#post_content { height: 312px; }

#post-form-wrapper {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 160px;
  background-image: url(image-path('icons/loading.gif'));
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: 30px;
}

#reply_content, .mce-panel { box-sizing: content-box; }
#post-editor { position: relative; }

#post_form {
  label {
    display: inline-block;
    margin-left: 5px;
    min-width: 155px;
    &.no-margin { margin-left: 0; }
  }

  .subber { padding: 10px; }

  #post-editor {
    input[type='text'] { width: 250px; }
    label { min-width: 95px; }
  }

  .clear { height: 1px; }

  input[type='checkbox'] {
    position: relative;
    bottom: 2px;
    margin-left: 5px;
  }

  #current_authors a {
    display: inline-block;
    margin: 5px 0;
  }
}

.details {
  display: inline;
  font-size: $font_size_smaller;
  font-style: italic;
}

/* - Blockquotes around .post-info-box */
.post-content blockquote {
  margin-right: 5.5em;
  margin-left: 5.5em;
}

/* - Lists around .post-info-box */
.post-content {
  ul, ol {
    padding-left: 30px;
    list-style-position: inside;

    ul, ol { overflow: auto; }
  }

  /* - Tables in post-content */
  th {
    background-color: unset;
    padding: 5px;
    color: unset;
    font-size: unset;
    font-weight: bold;
  }

  td {
    padding: 5px;
  }

  th, td {
    border: 1px solid #999999;
  }
}

/* - Character quick switcher - small icons for selecting characters in post-editor */
.char-access-icon {
  float: left;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}

.char-access-fake {
  background-color: #AAAAAA;
  background-color: rgba(128,128,128,0.3);
  padding: 5px 0;
  font-size: 80%;
}

/* - Narrow window display */
@media (max-width: 600px) {
  .post-info-box {
    display: inline-block;
    float: none;
    width: 100%;
  }

  .post-icon {
    float: left;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .post-info-text {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  #post-form-wrapper { margin-left: 0; }
  #character-selector { left: 0; }
  .post-character { background-color: $bg_color_post_character_narrow; }
  .post-author { background-color: $bg_color_post_author_narrow; }

  .post-content blockquote {
    margin-right: 1.5em;
    margin-left: 1.5em;
  }
}

/* Pagination */
.pagination {
  display: inline-block;
  padding: 5px;
  font-size: $font_size_small;

  .current {
    background-color: $bg_color_paginate_current_page;
    font-weight: bold;
    font-style: normal;
  }

  a, .current, .disabled {
    display: inline-block;
    padding: 5px 10px;
  }

  .disabled {
    text-align: left;
    color: $font_color_paginate_link_disabled;
  }

  a {
    color: $font_color_paginate_link;
    &:hover { background-color: $bg_color_paginate_link_hover; }
    &:visited { color: $font_color_paginate_link_visited; }
  }

  .summary {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.paginator {
  color: #000000;

  .left-align {
    float: left;
    padding: 10px;
  }

  .right-align {
    float: right;
    padding: 2px;
    padding-right: 10px;
    a { color: #000000; }
  }

  .normal-pagination { display: block; }
  .mobile-pagination { display: none; }
}

@mixin mobile-paginator {
  padding: 0;

  .pagination {
    a, .disabled { padding: 5px; }

    .summary {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
  .normal-pagination { display: none; }
  .mobile-pagination { display: block; }
}

.mobile-paginator {
  @include mobile-paginator;
}

@media (max-width: 400px) {
  .paginator-meta { display: none; }

  .paginator {
    @include mobile-paginator;
  }
}

/* Post dropdown menu */
#post-menu-holder { position: relative; }

#post-menu-box {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  border-top: 1px solid $border_color_post_menu;
  background-color: $bg_color_post_menu;
  text-align: left;
  color: $font_color_post_menu;

  div {
    border-bottom: 1px solid $border_color_post_menu;
    padding: 10px 20px;
  }

  a { color: $font_color_menu_link; }
  a:hover div { background-color: $bg_color_menu_link_hover; }

  img {
    margin-right: 3px;
    margin-bottom: 4px;
    vertical-align: middle;
  }
}

/* Handle post tables */
.post-completed {
  width: 50px;
  text-align: center;
}

.post-check-box {
  padding-right: 10px;
  width: 30px;

  /* Keeps unread table from padding excessively for the checkboxes */
  input.checkbox {
    margin: 0px;
    height: 13px;
    vertical-align: middle;
  }
}

/* Unread marker on posts */
.unread-marker-container {
  position: relative;
}

.unread-marker {
  position: absolute;
  top: -5px;
  background-color: transparent;
  color: transparent !important;
  font-size: 70%;
}

.reply-highlighted { border: 1px #FF0000 solid; }

.history-header { width: 170px; }
@media (max-width: 600px) {
  .history-header { width: 75px; }
}

.index-description p { margin: 0px; }

.mod {
  width: 100%;
  height: 50px;
}
