%p Hello #{@resource.username}.
%p 
  Someone requested a link to change your password. 
  = link_to 'Click here to do this.', edit_password_url(@resource, reset_password_token: @token)
%p If you didn't request this, please ignore this email. Your password won't change unless you use the link above and change it.
