.content-header
  Admin Tools

.subber
  Post Tools
=link_to "Post Splitter", split_posts_path
%br
=link_to "Post Importer", new_post_path(view: :import)
%br
=link_to "Flat Post Regenerator", regenerate_flat_posts_path
