%span.time-loaded{style: 'font-size: 10px; position: absolute; top: 2px; right: 20px;'}= pretty_time(DateTime.now.in_time_zone)

%table
  %thead
    %tr
      %th.table-title{colspan: 6} Monthly Report
  - 1.upto(1.month.ago.end_of_month.day) do |num_days|
    - day = 1.month.ago.end_of_month - (num_days - 1).days
    - posts = posts_from_relation(Post.where(tagged_at: day.beginning_of_day .. day.end_of_day))
    - if posts.present?
      %tbody
        %tr
          %th.subber{colspan: 6}= day.strftime("%b %d, %Y")
        %tr
          %th.sub.width-15
          %th.sub Thread
          %th.sub Continuity
          %th.sub Authors
          %th.sub Replies
          %th.sub Last Updated
        - posts.each do |post|
          = render 'posts/list_item', post: post, hide_continuity: false
