name: bundler-audit
on:
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '20 20 * * 2'
jobs:
  bundler-audit:
    name: bundler-audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ruby/setup-ruby@v1
      - run: gem install bundler-audit
      - run: bundle-audit check --update
